{{ theme:partial name="header" }}
<div id="middle">
	<div class="container">
		<div class="content">
			<div class="page-title">{{ page:page_title }}</div>
			<div id="page-banner-wrap">
				{{ page:image_banner:img }}
				<span class="color_1"></span>
				<span class="color_2"></span>
				<span class="color_3"></span>
				<span class="color_4"></span>				
				<div class="clear"></div>
			</div> <!-- #page-banner-wrap -->
			<div class="page-description">{{ page:body }}</div>
			<!--	
			<div class="menu-mobile-title">Our Services</div>
			{{ widgets:instance id="1"}}
			-->
			<div class="clear"></div>
		</div>	
	</div>
</div>
{{ theme:partial name="footer" }}