{{ theme:partial name="header" }}
<div id="middle">
	<div class="container">
		<div class="menu-content">
			<div class="page-title">{{ page:page_title }}</div>
			<div class="page-description">{{ page:body }}</div>
			<div class="general-wp">
				<div class="map">
                   	<div class="map-img">
                    	 {{ widgets:instance id="2"}}
                    </div> 
                 	<div class="map-info">
                        <p class="location">  
                            <span><strong>Marina Restauran location</strong></span>
                            <span>JL. marinarestaurantlocation No: 1</span>
                            <span>Phone/fax : +62 1234567</span>
                        	<span>Mobile: +62 123456789</span>
                        </p>
                     	<p class="email">   
                            <span><strong>Email</strong></span>
                            <span>Admin: admin(at)marina(dot)com</span>
                            <span>Sales: sales(at)marina(dot)com</span>
                        	<span>Reservation: reservation(at)marina(dot)com</span>
                    	</p>
                    </div>
                	<div class="clear"></div>
            	</div>
			</div>
			<!--	
			<div class="menu-mobile-title">Our Services</div>
			{{ widgets:instance id="1"}}
			-->
		</div>	
	</div>
</div>
{{ theme:partial name="footer" }}