@cOrange : #2565C7;
@cDark : #444444; 
@cLight : #888888;

input[type=text], textarea, .button, .button-auto{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.container  {
    width: auto;
} 

.leck( @size:14px, @weight:400 ){
	font-family: leck;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.opens( @size:13px, @weight:400 ){
	font-family: Open Sans;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.fullBg{
	display: none;
}

.side-padding{
	padding: 0 10px;
	margin: 20px 0;
}

.dark-line{
	margin: 5px 0;
}

body{
	background: url(../img/highlight-repeat.jpg) repeat;
}

#header{
	.container{
		padding: 0 0 10px 0;
		height: auto;

		.logo, ul.nav{
			display: none;
		}

		.mobile-nav{
			display: block;	

			ul{
				display: block;

				li{
					a{
						.opens(12px, 400);
					}
				}
			}		

			.text-logo{
				.leck(15px, 400);
			}

			a.toggle{
				right: 5px;
				top: 7px;
			}
		}	


	}
}

#middle{
	.container{
		.home-welcome, .content, .menu-content{
			height: auto;
			margin-top: 0;
			padding-top: 0;
			background: none;

			.highlight{
				background: none;

				margin-top: 0;

				.circle{
					display: none;
				}

				.delecious-title{
					.leck(20px,400);
				}

				.delecious-text{
					width: auto;
					padding: 0 10px; 
				}

			}
			
			.welcome-text{
				display: none;
			}

			.menu-mobile-title{
				display: block;
			}

			ul.square4 {
				padding: 0 10px;

				li{
					display: block;
					float: none;
					height: auto;
					width: auto;
					padding: 7px 10px 8px 45px;
					text-align: left;
					margin-bottom: 10px;

					.opens(15px, 400);

					.icon-mobile{
						display: block;
					}	
					.detail-wp, .icon, .text{
						display: none;
					}

					.title{
						margin-top: 0;
					}

					.icon-mobile{
						display: block;
						position: absolute;
					}
				}

				.food, .delivery, .menu, .place{
					color: white;
					background: @cOrange;
				}
				
			}	

			.mobile-background{
				display: block;
				position: relative;
			}
		}

		.content, .menu-content{
			.page-title{
				background: url(../img/bg-bottom.jpg) repeat-x left bottom;
			}

			.general-wp{
				.column{
					width: 100%;
				}
			}
		}

		.menu-content{
			background: url(../img/bg-menu-content.jpg) repeat;

			.page-title{
				padding: 13px 0 18px 13px;
				.opens(15px, 600);
				text-align: left;
			}

			.page-description{
				display: none;
			}

			.general-wp{
				padding: 0 0 20px;
				line-height: normal; 
				.opens(12px, 400);
			}

			.sub-title, .sub-title-2{
				.opens(15px, 600);
			}

			.cart-box{
				display: none;
			}

			.cart-box-mobile{
				display: block;

				.dark-line{
					margin: 0;
				}
			}

			.menu-list{
				li{
					margin-left: 0;
					background: transparent;
					float: none;

					.left-side{
						width: 25%;
						margin-bottom: 10px; 

						.thumbs{
							width: 90%;
							padding: 5%;
							height: auto;

							img{
								width: 100%;
								height: auto;		
							}
						}

						.view-menu{
							a{
								padding: 4px 0px 5px;	
								.opens(11px, 400);
								-webkit-border-radius: 0;
								-moz-border-radius: 0;
								border-radius: 0;
								width: 100%;
							}
						}

						.price-menu{
							padding: 4px 0px 2px;	
							.opens(9px, 400);
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							width: 100%;
							height: 18px;
						}
					}

					&:nth-child(2n+1){
						background: #F0F0F0;
						margin-left: 0;
					}

					.right-side{
						float: left;
						width: 73%;
						margin-left: 2%; 

						h3{
							.opens(12px, 600);
						}

						.menu-description{
							.opens(10px, 400);
							line-height: 140%;
							display: block;
							height: 45px;
							overflow: hidden;
						}


						.quantity{
							display: inline;

							input{
								-webkit-border-radius: 0;
								-moz-border-radius: 0;
								border-radius: 0;
								padding: 2px 0px;	
								.opens(10px, 400);
								height: 18px;
								width: 59px;

							}

							label{
								&:nth-child(1){
									display: none;
								}
								&:nth-child(2){
									display: inline;
								}
							}
						}

						.select{
							width: 80px;
							display: inline;
							margin-left: 5px;

							a{
								-webkit-border-radius: 0;
								-moz-border-radius: 0;
								border-radius: 0;
								padding: 3px 0px 2px;
								.opens(10px, 400);
								width: 80px;
								height: 18px;
							}
						}
					}
				}
			}

			.order-list{
				li{
					.left-side{
						width: 80px;
						height: auto;

						.thumbs{
							width: 70px;
							height: auto;
						}

						.price-menu{
							display: block;
							padding: 4px 0px 2px;	
							.opens(9px, 400);
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							width: 100%;
							height: 18px;
						}
					}

					.right-side{
						width: 200px;
						margin-left: 2%;
						height: auto;

						.price-menu{
							display: none;
						}

						h3{
							margin-bottom: 5px;
							.opens(12px, 600);
						}

						.quantity, a.cancel{
							clear: both;
							margin-left: 0;
						}

						.quantity{
							input{
								padding: 4px 9px 5px;
							}
						}

						.sub-total-wp{
							background: transparent;
							margin: 10px 0 0 0;
							padding: 0;
							text-align: left;
							color: @cOrange;

							.sub-total{
								color: #B33600;
								.opens(11px, 600);
							}
						}

						a.cancel, a.revise{
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							padding: 3px 0px 2px;
							.opens(10px, 400);
							width: 80px;
							height: 18px;
						}
					}

					.button-menu{
						display: block;
						
						.right-side{
							a.cancel, a.revise{
								display: block;
							}	
						}
					}
 
					.highlight-menu{
						.right-side{
							a.cancel, a.revise{
								display: none;
							}	
						}
					}

					.choice-list{
						margin-left: 0;

						li{
							width: 80%;
							padding: 3px 0px;
							margin-bottom: 0;

							.title, .description{
								.opens(12px, 400);
							}
						}
					}
				}
			}

			.total-order{
				.title{
					background: #F0F0F0;
					padding-bottom: 0;
					padding-left: 10px;
					.opens(15px, 600);

					.icon{
						display: none;
					}
				}
				.note{
					margin: 0;
					background: url(../img/bg-bottom.jpg) repeat-x left bottom #F0F0F0;
					padding: 0 0 20px 10px;
					font-style: italic;
					color: #A8451E;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					margin-bottom: 15px;
					.opens(12px, 400);
				}

				.dark-line{
					margin: 15px 0;
				}

				label{
					margin-left: 10px;
				}
			}

			.form-wp, .testimonial-form-wp, .contact-form-wp{
				padding: 20px 10px;
				
				.half-column{
					float: none;
					width: 100%;

					&:nth-child(1){
						width: 100%;
					}

					.payment-wp{
						.left-side, .right-side{
							float: none;
							width: 100%;

							img{
								margin-top: 0;
							}
						}	
					}
					
				}
			}

			.testimonial-form-wp{
				background: transparent;
			}

			.contact-form-wp{
				background: url(../img/bg-bottom.jpg) repeat-x left top transparent;
			}

			.contact-text{
				background: none;
			}

			.testimonial-list{
				li{
					padding-top: 0;
					margin: 0;
					background: url(../img/bg-bottom.jpg) repeat-x left top #EEEEEE;

					&:nth-child(2n+1){
						background: url(../img/bg-bottom.jpg) repeat-x left top transparent;
					}

					.date-wp{
						display: none;
					}
					.single-testimonial{
						background: transparent;
						padding: 2%;
						.left-side{
							display: none;
						}
						.right-side{
							width: 100%;
							float: none;

							.date-mobile{
								display: block;
							}
						}
					}
				}
			}

			.button-wrapper{
				padding: 20px 0;
				text-align: center;

				a{
					width: auto;
					padding: 5px 15px;

					&:nth-child(1){
						margin-right: 20px;	
					}
					
				}
			}

			.catering4{
				display: none;
			}

			.catering-packages{
				p.text{
					padding: 0 10px 20px;
				}
				ul{
					li{
						padding: 10px 10px 40px;

						&:nth-child(2n+1){
							background: none;
						}

						.title-wp{
							.title{
								float: none;
								display: block;
							}

							.price{
								float: none;
								font-size: 11px;
								background-position: 0px -15px;
							}
						}

						.food-thumbs{
							ul{
								li{
									border: none;
									width: 90px;
									height: 90px;
									margin-right: 10px;
									margin-bottom: 10px;

									img{
										width: 100%;
										height: auto;
									}
								}
							}
						}
						.quantity{
							.input-text, .button{
								-webkit-border-radius: 0px;
								-moz-border-radius: 0px;
								border-radius: 0px;
								padding: 5px 2%;
							}
							
							.button{
								width: 100px;
							}
						}
					}
				}
			}

			.map{
				.map-img, .map-info{
					float: none;
					display: block;
					padding: 0px 3% 10px;
					width: 94%;

					img{
						width: 100%;
					}
				}
			}
		}

	}
}

#footer{
	background: @cOrange;

	.container{
		height: auto;
	
		.footer-text{
			height: auto;
			padding: 15px 0;	
			color: white;
			.opens(12px, 400);
		}
	}
}