@import url(http://fonts.googleapis.com/css?family=Open+Sans);


@font-face {
    font-family: 'leck';
    src: url('leckerlione-regular-webfont.eot');
    src: url('leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leckerlione-regular-webfont.woff') format('woff'),
         url('leckerlione-regular-webfont.ttf') format('truetype'),
         url('leckerlione-regular-webfont.svg#leckerlioneregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear	{
	clear: both;
}

/* FUNCTION */

.opens( @size:13px, @weight:400 ){
	font-family: Open Sans;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.leck( @size:14px, @weight:400 ){
	font-family: leck;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.auto( @top: 0, @bot:0 ) {
	margin: @top auto @bot auto; 
}

.block{
	display: block;
}

.shadow{
	-webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.animate(@time : 200ms){
	-webkit-transition: all @time ease-out;
    -moz-transition: all @time ease-out;
    -o-transition: all @time ease-out;
    -ms-transition: all @time ease-out;
    transition: all @time ease-out; 
}

@cOrange : #FF8A00;
@cDark : #444444;
@cLight : #888888;

/* STYLE */

h2{
	color: @cOrange;
	.opens(20px, 800);
}

h3{
	color: @cOrange;
	.opens(17px, 800);
}

h4{
	color: @cDark;
	.opens(14px, 800);
}

h5{
	color: @cOrange;
	.opens(13px, 800);
}

h6{
	color: @cLight;
	.opens(12px, 800);
}

body{
	.opens;
	overflow-x: hidden; 
}

.container{
	width: 1000px;
	.auto;
	position: relative;
}

.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

input.radio, input.check{
	float: left;
	opacity: 0;
	height: 20px;
	width: 20px;
	display: block;
    clear: left;
    float: left;
    position: relative;
    z-index: 100;

    &:hover{
    	cursor:pointer;
    }
}

input.radio+label{
	background: url("../img/radio.png") no-repeat scroll 0 0;
    clear: none;
    display: block;
    height: 20px;
    margin: 3px;
    position: absolute;
    width: 20px;
}

input.check+label{
	background: url("../img/check.png") no-repeat scroll 0 0;
    clear: none;
    display: block;
    height: 20px;
    margin: 3px;
    position: absolute;
    width: 20px;
}

input.radio:hover+label, input.check:hover+label{
	background-position: -20px 0;
}

input.radio:checked+label, input.check:checked+label{
	background-position: -40px 0;
}

input.radio:disabled+label, input.check:disabled+label{
	background-position: -60px 0;
} 

input[type=text], textarea{
	height: 20px;
	display: inline-block; 
	background: #DDDDDD;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	height: 20px;
	padding: 10px 2%;
	border: none;
	width: 96%;
	max-width: 919px;
}

textarea{
	height: 50px;
}

.button, .button-auto{
	.opens(15px, 400);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	clear: none;
	display: table-cell;
	text-align: center;
	.animate;
}

.button.orange, .button-auto.orange{
	background: @cOrange;
	color: white;

	&:hover{
		background: #B33600;
		cursor: pointer;
	}
}

.button.cream, .button-auto.cream{
	background: #FFC887;
	color: #B33600;

	&:hover{
		background: #B33600;
		color: white;
		cursor: pointer;
	}
}

.button.dark, .button-auto.dark{
	background: #B33600;
	color: white;

	&:hover{
		background: #6A2000;
		color: white;
		cursor: pointer;
	}
}

.button:disabled, .button-auto:disabled{
	background: #DDDDDD;
	color: #BBBBBB;

	&:hover{
		background: #DDDDDD;
		color: #BBBBBB;
	}
}

.button{
	width: 170px;
	padding: 3px 0px 6px;
}

.button-auto{
	width: auto;
	padding: 3px 15px 6px;
}

.dark-line{
	width: 100%;
	height: 2px;
	background: url(../img/bg-bottom.jpg) repeat-x left bottom;
	margin: 20px 0;
}

.tOrange{
	color: @cOrange;
}

.tDark{
	color: @cDark;
}

.tLight{
	color: @cLight;
}

.side-padding{
	padding: 0;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
	color: @cOrange;
	font-weight: bold;
	.animate;

	&:hover{
		color: #B21E00;
	}
}

table{
	width: 100%;

	tr{
		th{
			border-bottom: solid 1px #DDDDDD;
			padding: 10px 5px;
			background: white;
		}

		td{
			border-bottom: solid 1px #DDDDDD;
			padding: 10px 5px;
		}

		&:nth-child(odd){
			background: #EEEEEE;
		}

		&:nth-child(even){
			background: white;
		}
	}
}

.right-side{
	float: right;
}

.left-side{
	float: left;
}	


ul{
	li{
		list-style:  url(../img/ul.png);
		margin-left: 18px;

		ul{
			li{
				margin-left: 24px;				
			}
		}
	}
}

ol{
	li{
		list-style: decimal;
		margin-left: 18px;
	}
}

/* STYLE */
#header{
	background: @cOrange;
	.container{
		height: 70px;

		.logo{
			width: 183px;
			height: 40px;
			float: left;
			margin-top: 15px;
			background: url(../img/logo.png) no-repeat;
		}

		.nav{
			float: right;
			border-left: dotted 1px #C4551C;
			border-right: dotted 1px #FF9836;

			li{
				border-right: dotted 1px #C4551C;
				border-left: dotted 1px #FF9836;
				display: inline-block;
				float: left;
				width: 80px;
				margin: 0;

				a{
					.opens(13px, 400);	
					.block;	
					padding: 28px 0;
					width: 80px;
					color: #EBF0F1;
					text-align: center;
					text-decoration: none;
				}	
			}
				
		}

		.mobile-nav{
			display: none;
			position: relative;
			padding-top: 7px;

			.text-logo{
				.leck(24px, 400);
				color: white;
				text-align: center;
			}

			.nav2{
				display: none;
				margin-top: 10px;

				li{
					display: block;
					background: white;
					.opens(13px, 400);
					border-bottom: solid 1px #f0f0f0;
					margin: 0; 

					a{ 
						color: @cOrange;
						text-decoration: none;
						display: block;
						width: 100%;
						padding: 10px 5px 10px 8px;
					}
				}
			}

			a.toggle{
				position: absolute;
				top: 12px;
				right: 11px;
				display: block;
				height: 16px;
				width: 20px;
				z-index: 100;
				background: url(../img/toggle.png) no-repeat;
			}
		}
	}
}

#middle{
	.container{
		height: auto;

		.home-welcome, .content, .menu-content{
			padding: 25px 0 20px;
			background: white;
			margin-top: 70px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			.welcome-text{
				.opens(20px, 600);
				text-align: center;			
				color: @cOrange;
			}

			.highlight{
				padding: 55px 0 42px;
				margin-top: 27px;
				background: url(../img/highlight-repeat.jpg) repeat;

				.circle{
					position: relative;
					margin: 0 auto 25px;
					width: 764px;

					a.link{
						float: left;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
						height: 160px;
						width: 160px;
						border: solid 8px white;
						margin-left: 20px;
						.shadow;

						&:nth-child(1){
							margin-left: 0;
						}
					}
				}

				.delecious-title{
					.leck(30px,400);
					color: @cOrange; 
					text-align: center;
				}

				.delecious-text{
					color: @cDark;
					line-height: 150%;
					text-align: center;
					width: 760px;
					.auto(24px,0px);
				}
			}

			.menu-mobile-title{
				display: none;
				.opens(16px, 600);
				padding: 13px 0;
				text-align: center;
				border-top: solid 1px #ccc;
				border-bottom: solid 1px #ccc;
				margin-bottom: 23px;
				color: @cOrange;
			}

			ul.square4{
				position: relative;

				li{
					width: percentage(250px/1000px);
					margin: 0;
					height: 250px;
					position: relative;
					background: #E8C3B3;
					display: block;
					float: left;
					.animate;
					text-align: center;

					&:hover .detail-wp{
						opacity: 1;
					}
					
					img{
						position: absolute;
					}

					.title{
						.opens(16px, 400);
						margin-top: 13px;
					}

					.text{
						.opens(13px, 400);
						position: absolute;
						top: 160px;
						padding: 0 20px;
						line-height: 150%;
					}

					.detail-wp{
						.animate;
						opacity: 0;
						background: rgba(255,255,255,0.7);
						width: 100%;
						height: 100%;
						.opens(15px, 400);
						position: absolute;
						z-index: 100;

						a.view-detail{
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							margin-left: -85px;
							margin-top: -20px;
							height: 10px;
							width: 170px;
							color: white;
							padding: 6px 0 24px;
							background: #FF8A00;
							-webkit-border-radius: 3px;
							-moz-border-radius: 3px;
							border-radius: 3px;
							text-align: center;
							text-decoration: none;
						}
					}

					.icon{
						height: 89px;
						margin-top: 28px;
					}

					.icon-mobile{
						display: none;
						position: absolute;
						left: 11px;
						top: 9px;
						height: 21px;
						width: 20px;
						background: url(../img/s4-icon-mobile.png) no-repeat;
					}
				}

				.food{
						background: #B33600;
						color: #FFC887;

						.icon{
							background: url(../img/s4-food.png) center bottom no-repeat;	
						}
					}

					.delivery{
						background: #FF8A00;
						color: #B33600;

						.icon{
							background: url(../img/s4-delivery.png) center bottom no-repeat;	
						}

						.icon-mobile{
							background-position: -22px 0px;	
						}
					}

					.menu{
						background: #FFC887;
						color: #B31E00;

						.icon{
							background: url(../img/s4-menu.png) center bottom no-repeat;	
						}

						.icon-mobile{
							background-position: -44px 0px;	
						}
					}

					.place{
						background: #B31E00;
						color: #FFC887;

						.icon{
							background: url(../img/s4-place.png) center bottom no-repeat;	
						}

						.icon-mobile{
							background-position: -66px 0px;	
						}
					}				
			}

			.mobile-background{
				display: none;
				overflow-y: hidden;

				img{
					position: absolute;
					z-index: 0;
				}

				.welcome-text2{
					display: block;
					text-align: center;
					.opens(35px, 400);
					color: white;
					position: relative;
					z-index: 1;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.5);
					padding-top: 25%;
					vertical-align: middle;
				}
			}

		}

		.content, .menu-content{
			background: white;
			color: @cDark;
			line-height: 200%;

			.page-title{
				.opens(20px, 600);  
				color: @cOrange;
				padding: 24px 0;
				text-align: center;
			}

			.page-description{
				padding: 45px 20px 40px;
				text-align: center;
				background: url(../img/highlight-repeat.jpg) repeat;
				line-height: 200%;
			}

			.general-wp{
				padding: 20px;

				.column{
					width: 310px;
					padding: 0 10px 0 0;
					float: left;
				}

				.half-column{
					width: 50%;
					float: left;
				}

				.error-message{
					width: auto;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					background: #D32408;
					color: white;
					text-align: center;
					padding: 20px;
				}
			}

			.sub-title{
				.opens(20px, 600);
				color: #212121;
				margin-bottom: 10px;
			}
			
			.sub-title-2{
				.opens(20px, 600);
				color: @cOrange;
				margin-bottom: 10px;
			}

			.cart-box{
				background: @cOrange;
				margin-bottom: 20px;

				.left-side{
					.side-wrapper{
						border-right: dotted 1px #CB5B19;
						float: left;
					}
				}

				.right-side{
					.side-wrapper{
						border-left: dotted 1px #CB5B19;
						float: right;
					}
				}

				.left-side, .right-side{
					color: white;

					.side-wrapper{
						padding: 11px 10px 16px;
					}

					a{
						color: white;
						padding: 15px 10px 20px;
					}
				}
			}

			.cart-box-mobile{
				display: none;
				background: url(../img/bg-bottom.jpg) repeat-x bottom left;
				margin-bottom: 20px;
				color: #999;

				.left-side{
					.side-wrapper{
						float: left;

						.back a{
							display: inline-block;
							height: 16px;
							width: 16px;
							background: url(../img/back.png) no-repeat; 
							padding: 0;
						}
					}
				}

				.right-side{
					.side-wrapper{
						float: right;
					}
				}

				.left-side, .right-side{
					.opens(11px, 400);
					.side-wrapper{
						padding: 12px 10px 17px;
					}

					a{
						color: #999;
						.opens(11px, 600);
						padding: 15px 10px 20px;
					}

					a.view, .total-cart{
						color: @cOrange;
						font-weight: bold;
					}

				}
			}

			.menu-list{
				li{
					list-style: none;
					padding: 10px;
					float: left;
					background: #F0F0F0;
					display: block;
					margin-left: 10px;
					margin-bottom: 10px;

					&:nth-child(2n+1){
						margin-left: 0;
					}

					.left-side{
						width: 160px;

						.thumbs{
							background: white;
							padding: 5px;
							width: 150px;
							height: 150px;
							overflow: hidden;

							img{
								width: 150px;
								height: 150px;
							}
						}

						.view-menu{
							display: block;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;

							a{
								display: block;
							}
						}

						.price-menu{
							display: block;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;
							padding: 3px 15px 6px;
    						width: 130px;
    						height: 26px;
    						color: white;
    						background: #B33600;
						}
					}

					.right-side{
						width: 283px;
						margin-left: 12px;

						.quantity{
							float: left;

							label{
								font-style: italic;
								color: @cOrange;

								&:nth-child(1){
									display: inline;
								}
								&:nth-child(2){
									display: none;
								}
							}

							input{
								-webkit-border-radius: 5px;
								-moz-border-radius: 5px;
								border-radius: 5px;
								border: solid 1px #DDDDDD;
								padding: 7px 9px;
								width: 60px;
								color: @cDark;
								margin: 0 0 0 5px;
								text-align: center;
							}
						}

						.select{
							float: left;
							margin-left: 10px;
							width: 100px;
							a{
								width: 110px;
								padding: 3px 0 6px;
							}
						}						
					}
				}
			}

			.order-list{
				li{
					list-style: none;
					padding: 10px;
					background: url(../img/bg-bottom.jpg) repeat-x top left #F0F0F0;
					display: block;
					margin: 0 0 10px 0;

					.left-side{
						width: 80px;

						.thumbs{
							background: white;
							padding: 5px;
							width: 70px;
							height: 70px;
							overflow: hidden;

							img{
								width: 70px;
								height: 70px;
							}
						}

						.view-menu{
							display: block;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;

							a{
								display: block;
							}
						}

						.price-menu{
							display: none;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;
							padding: 3px 15px 6px;
    						width: 130px;
    						height: 26px;
    						color: white;
    						background: #B33600;
						}
					}

					.right-side{
						width: 800px;
						height: 80px;
						margin-left: 12px;
						float: left;

						h3{
							margin-bottom: 18px;
						}

						.price-menu{
							display: block;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;
							padding: 3px 15px 6px;
    						width: 130px;
    						height: 26px;
    						color: white;
    						background: #B33600;
    						float: left;
						}

						.quantity{
							float: left;
							margin-left: 10px;

							label{
								font-style: italic;
								color: @cOrange;

								&:nth-child(1){
									display: inline;
								}
								&:nth-child(2){
									display: none;
								}
							}

							input{
								-webkit-border-radius: 5px;
								-moz-border-radius: 5px;
								border-radius: 5px;
								border: solid 1px #DDDDDD;
								padding: 8px 9px 9px;
								width: 60px;
								color: @cDark;
								margin: 0 0 0 5px;
								text-align: center;
							}
						}

						.sub-total-wp{
							display: block;
							-webkit-border-radius: 5px;
							-moz-border-radius: 5px;
							border-radius: 5px;
							text-align: center;
							padding: 3px 15px 6px;
    						width: 170px;
    						height: 26px;
    						color: #B31E00;
    						background: #FFC887;
    						float: left;
    						margin-left: 10px;
						}

						a.cancel{
							width: 75px;
							margin-left: 10px;
							.opens(15px, 400);
							display: block;
							float: left;
						}	

						a.revise{
							margin-left: 10px;	
							width: 130px;
							.opens(15px, 400);
							display: block;
							float: left;
						}				
					}

					.button-menu{
						display: none;
					}

					.highlight-menu{
						.right-side{
							a.cancel, a.revise{
								display: block;
							}	
						}
					}

					.choice-list{
						background: none;
						width: 800px;
						float: left;
						margin-left: 92px;

						li{
							display: inline; 
							width: auto;
							background: none;
							position: relative;
							float: left;
							.opens(14px, 600);
							padding: 5px;

							.title{
								color: @cOrange;
								margin-left: 5px;
							}

							.description{
								font-style: italic;
								color: #B33600;
							}
						}
					}
				}
			}

			.total-order{
				position: relative;
				color: #B21E00;
				.opens(15px, 400);
				

				.title{
					background: url(../img/bg-bottom.jpg) repeat-x left bottom #F0F0F0;
					border: none;
					.opens(20px, 600);
					color: @cOrange;
					padding: 10px 0px 15px 40px;
					position: relative;

					.icon{
						position: absolute;
						left: 8px;
						top: 11px;
					}
				}

				.note{
					background: #DC5039;
					color: white;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					padding: 12px 0 12px 40px;
					margin: 8px 0px 20px;
				}

				label{
					display: block;
				    float: left;
				    margin-left: 40px;
				    width: 150px;
				    font-style: italic;
				}

				.total-quantity{
					color: @cDark;
					.opens(15px, 600);
				}

				.cancel-order, .continue-order{
					display: inline;
				}
			} 

			.choice{
				background: #EEEEEE;
				position: relative;

				/*&:after{
					content: ' ';
					height: 0;
					width: 0;

					border: 16px solid transparent;
					border-bottom-color: #EEEEEE;
					box-shadow: none; 
					position: absolute;
					bottom: 100%;
				}*/
				
				.menu-title{
					.opens(20px, 600);
					color: @cOrange;
					padding: 20px 24px 0;
				}

				.main-list{
					padding: 20px 0;
					background: url(../img/bg-bottom.jpg) repeat-x left bottom;

					li{
						list-style: none;
						margin-left: 0px;

						.choice-icon{
							margin-right: 10px;
						}

						.sub-title{
							.opens(15px, 400);
							color: @cOrange;
							padding: 20px 0 20px 20px;
							background: url(../img/bg-bottom.jpg) repeat-x left bottom, url(../img/bg-bottom.jpg) repeat-x left top;
						}

						.sub-list{
							li{
								padding-left: 20px;
								line-height: 150%;
								margin-bottom: 30px;
								background: none;
								
								.choice-title{
									color: #1F1F1F;
									.opens(14px, 600);	
								}

								.choice-description{
									.opens(13px, 400);
									margin-left: 10px;
									font-style: italic;
								}
									
							}
						}
					}
				}

				.button-wrapper{
					padding: 20px 0;
					text-align: center;

					a{
						display: inline;
						&:nth-child(1){
							margin-right: 20px;	
						}
						
					}
				}
			}

			.form-wp, .testimonial-form-wp{
				.input-wp{
					margin-bottom: 20px;

					.note{
						color: #B31E00;
						display: block;
					}

					.captcha{
						display: block;
					}
				}

				.half-column{
					&:nth-child(1){
						margin-right: 5%;
						width: 45%;
					}

					.payment-title{
						.opens(15px, 400);
						margin-bottom: 10px;
						color: @cOrange;
					}
					.payment-wp{
						background: #DDDDDD;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						margin-bottom: 20px;
						padding: 10px;
						line-height: 150%;

						.left-side{
							width: 170px;
							text-align: center;

							img{
								margin-top: 10%;
							}
						}

						.right-side{
							width: 280px;

							.payment-type{
								.opens(13px, 400);
								color: #444444;
							}

							.account-owner{
								.opens(15px, 400);
								color: @cOrange;
							}

							.account-number{
								.opens(15px, 400);
								color: #A6371E;
							}
						}
					}

					.payment-rule{
						color: #A6371E;
					}
				}

				.button-wrapper{
					padding: 20px 0;
					text-align: center;

					a{
						display: inline;
						&:nth-child(1){
							margin-right: 20px;	
						}
						
					}
				}
			}

			.testimonial-form-wp{
				padding: 20px;
				background: url(../img/bg-bottom.jpg) top left repeat-x #F4F4F4;
				input[type=text], textarea{
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
				}
			}

			.testimonial-list{
				li{	
					margin-left: 0;
					list-style: none;
					padding-top: 40px;
					position: relative;
					margin-bottom: 20px;

					.date-wp{
						padding: 0px 0 10px;
						width: 60px;
						text-align: center;
						-webkit-border-radius: 3px 3px 0px 0px;
						-moz-border-radius: 3px 3px 0px 0px;
						border-radius: 3px 3px 0px 0px;
						right: 20px;
						top: 0;
						position: absolute;
						background: @cOrange;
						line-height: 125%;

						.date{
							.opens(14px, 400);
							color: white;
						}

						.year{
							.opens(16px, 600);
							color: #B31E00;
						}
					}

					.single-testimonial{
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						background: #EEEEEE;
						padding: 10px;	
						position: relative;
						z-index: 1;

						.left-side{
							width: 110px;

							img{
								width: 110px;
								height: 110px;
							}

						}

						.right-side{
							width: 815px;
							color: @cDark;
							.opens(14px, 600);

							.date-mobile{
								display: none;
							}

							.comment{
								.opens(13px, 400);
							}
						}
					}
					
				}
			}

			.button-wrapper{
				padding: 20px 0;
				text-align: center;

				a{
					display: inline-block;
					&:nth-child(1){
						margin-right: 20px;	
					}
					
				}
			}
		}
	}
}

#footer{
	width: 100%;
	background: rgba(255,255,255,0.8);
	margin-top: 10px;

	.container{
		height: 152px;
	
		.footer-text{
			color: #444444;
			height: 12px;
			padding: 70px 0;
			text-align: center;
		}
	}
}