@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'leck';
  src: url('leckerlione-regular-webfont.eot');
  src: url('leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'), url('leckerlione-regular-webfont.woff') format('woff'), url('leckerlione-regular-webfont.ttf') format('truetype'), url('leckerlione-regular-webfont.svg#leckerlioneregular') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
/* FUNCTION */
.block {
  display: block;
}
.shadow {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
/* STYLE */
h2 {
  color: #ff8a00;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h3 {
  color: #ff8a00;
  font-family: Open Sans;
  font-size: 17px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h4 {
  color: #444444;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h5 {
  color: #ff8a00;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h6 {
  color: #888888;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  overflow-x: hidden;
}
.container {
  width: 1000px;
  margin: 0 auto 0 auto;
  position: relative;
}
.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
input.radio,
input.check {
  opacity: 0;
  height: 20px;
  width: 20px;
  display: block;
  clear: left;
  float: left;
  position: relative;
  z-index: 100;
}
input.radio:hover,
input.check:hover {
  cursor: pointer;
}
input.radio + label {
  background: url("../img/radio.png") no-repeat scroll 0 0;
  clear: none;
  display: block;
  height: 20px;
  margin: 3px;
  position: absolute;
  width: 20px;
}
input.check + label {
  background: url("../img/check.png") no-repeat scroll 0 0;
  clear: none;
  display: block;
  height: 20px;
  margin: 3px;
  position: absolute;
  width: 20px;
}
input.radio:hover + label,
input.check:hover + label {
  background-position: -20px 0;
}
input.radio:checked + label,
input.check:checked + label {
  background-position: -40px 0;
}
input.radio:disabled + label,
input.check:disabled + label {
  background-position: -60px 0;
}
input[type=text],
textarea {
  display: inline-block;
  background: #DDDDDD;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 20px;
  padding: 10px 2%;
  border: none;
  width: 96%;
  max-width: 919px;
}
textarea {
  height: 50px;
}
.button,
.button-auto {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  clear: none;
  display: table-cell;
  text-align: center;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.button.orange,
.button-auto.orange {
  background: #ff8a00;
  color: white;
}
.button.orange:hover,
.button-auto.orange:hover {
  background: #B33600;
  cursor: pointer;
}
.button.cream,
.button-auto.cream {
  background: #FFC887;
  color: #B33600;
}
.button.cream:hover,
.button-auto.cream:hover {
  background: #B33600;
  color: white;
  cursor: pointer;
}
.button.dark,
.button-auto.dark {
  background: #B33600;
  color: white;
}
.button.dark:hover,
.button-auto.dark:hover {
  background: #6A2000;
  color: white;
  cursor: pointer;
}
.button:disabled,
.button-auto:disabled {
  background: #DDDDDD;
  color: #BBBBBB;
}
.button:disabled:hover,
.button-auto:disabled:hover {
  background: #DDDDDD;
  color: #BBBBBB;
}
.button {
  width: 170px;
  padding: 3px 0px 6px;
}
.button-auto {
  width: auto;
  padding: 3px 15px 6px;
}
.dark-line {
  width: 100%;
  height: 2px;
  background: url(../img/bg-bottom.jpg) repeat-x left bottom;
  margin: 20px 0;
}
.tOrange {
  color: #ff8a00;
}
.tDark {
  color: #444444;
}
.tLight {
  color: #888888;
}
.side-padding {
  padding: 0;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #ff8a00;
  font-weight: bold;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
a:hover {
  color: #B21E00;
}
table {
  width: 100%;
}
table tr th {
  border-bottom: solid 1px #DDDDDD;
  padding: 10px 5px;
  background: white;
}
table tr td {
  border-bottom: solid 1px #DDDDDD;
  padding: 10px 5px;
}
table tr:nth-child(odd) {
  background: #EEEEEE;
}
table tr:nth-child(even) {
  background: white;
}
.right-side {
  float: right;
}
.left-side {
  float: left;
}
ul li {
  list-style: url(../img/ul.png);
  margin-left: 18px;
}
ul li ul li {
  margin-left: 24px;
}
ol li {
  list-style: decimal;
  margin-left: 18px;
}
/* STYLE */
#header {
  background: #ff8a00;
}
#header .container {
  height: 70px;
}
#header .container .logo {
  width: 183px;
  height: 40px;
  float: left;
  margin-top: 15px;
  background: url(../img/logo.png) no-repeat;
}
#header .container .nav {
  float: right;
  border-left: dotted 1px #C4551C;
  border-right: dotted 1px #FF9836;
}
#header .container .nav li {
  border-right: dotted 1px #C4551C;
  border-left: dotted 1px #FF9836;
  display: inline-block;
  float: left;
  width: 80px;
  margin: 0;
}
#header .container .nav li a {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  display: block;
  padding: 28px 0;
  width: 80px;
  color: #EBF0F1;
  text-align: center;
  text-decoration: none;
}
#header .container .mobile-nav {
  display: none;
  position: relative;
  padding-top: 7px;
}
#header .container .mobile-nav .text-logo {
  font-family: leck;
  font-size: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: white;
  text-align: center;
}
#header .container .mobile-nav .nav2 {
  display: none;
  margin-top: 10px;
}
#header .container .mobile-nav .nav2 li {
  display: block;
  background: white;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  border-bottom: solid 1px #f0f0f0;
  margin: 0;
}
#header .container .mobile-nav .nav2 li a {
  color: #ff8a00;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 5px 10px 8px;
}
#header .container .mobile-nav a.toggle {
  position: absolute;
  top: 12px;
  right: 11px;
  display: block;
  height: 16px;
  width: 20px;
  z-index: 100;
  background: url(../img/toggle.png) no-repeat;
}
#middle .container {
  height: auto;
}
#middle .container .home-welcome,
#middle .container .content,
#middle .container .menu-content {
  padding: 25px 0 20px;
  background: white;
  margin-top: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#middle .container .home-welcome .welcome-text,
#middle .container .content .welcome-text,
#middle .container .menu-content .welcome-text {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-align: center;
  color: #ff8a00;
}
#middle .container .home-welcome .highlight,
#middle .container .content .highlight,
#middle .container .menu-content .highlight {
  padding: 55px 0 42px;
  margin-top: 27px;
  background: url(../img/highlight-repeat.jpg) repeat;
}
#middle .container .home-welcome .highlight .circle,
#middle .container .content .highlight .circle,
#middle .container .menu-content .highlight .circle {
  position: relative;
  margin: 0 auto 25px;
  width: 764px;
}
#middle .container .home-welcome .highlight .circle a.link,
#middle .container .content .highlight .circle a.link,
#middle .container .menu-content .highlight .circle a.link {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 160px;
  width: 160px;
  border: solid 8px white;
  margin-left: 20px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
#middle .container .home-welcome .highlight .circle a.link:nth-child(1),
#middle .container .content .highlight .circle a.link:nth-child(1),
#middle .container .menu-content .highlight .circle a.link:nth-child(1) {
  margin-left: 0;
}
#middle .container .home-welcome .highlight .delecious-title,
#middle .container .content .highlight .delecious-title,
#middle .container .menu-content .highlight .delecious-title {
  font-family: leck;
  font-size: 30px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  text-align: center;
}
#middle .container .home-welcome .highlight .delecious-text,
#middle .container .content .highlight .delecious-text,
#middle .container .menu-content .highlight .delecious-text {
  color: #444444;
  line-height: 150%;
  text-align: center;
  width: 760px;
  margin: 24px auto 0px auto;
}
#middle .container .home-welcome .menu-mobile-title,
#middle .container .content .menu-mobile-title,
#middle .container .menu-content .menu-mobile-title {
  display: none;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  padding: 13px 0;
  text-align: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  margin-bottom: 23px;
  color: #ff8a00;
}
#middle .container .home-welcome ul.square4,
#middle .container .content ul.square4,
#middle .container .menu-content ul.square4 {
  position: relative;
}
#middle .container .home-welcome ul.square4 li,
#middle .container .content ul.square4 li,
#middle .container .menu-content ul.square4 li {
  width: 25%;
  margin: 0;
  height: 250px;
  position: relative;
  background: #E8C3B3;
  display: block;
  float: left;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  text-align: center;
}
#middle .container .home-welcome ul.square4 li:hover .detail-wp,
#middle .container .content ul.square4 li:hover .detail-wp,
#middle .container .menu-content ul.square4 li:hover .detail-wp {
  opacity: 1;
}
#middle .container .home-welcome ul.square4 li img,
#middle .container .content ul.square4 li img,
#middle .container .menu-content ul.square4 li img {
  position: absolute;
}
#middle .container .home-welcome ul.square4 li .title,
#middle .container .content ul.square4 li .title,
#middle .container .menu-content ul.square4 li .title {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin-top: 13px;
}
#middle .container .home-welcome ul.square4 li .text,
#middle .container .content ul.square4 li .text,
#middle .container .menu-content ul.square4 li .text {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  position: absolute;
  top: 160px;
  padding: 0 20px;
  line-height: 150%;
}
#middle .container .home-welcome ul.square4 li .detail-wp,
#middle .container .content ul.square4 li .detail-wp,
#middle .container .menu-content ul.square4 li .detail-wp {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  position: absolute;
  z-index: 100;
}
#middle .container .home-welcome ul.square4 li .detail-wp a.view-detail,
#middle .container .content ul.square4 li .detail-wp a.view-detail,
#middle .container .menu-content ul.square4 li .detail-wp a.view-detail {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;
  margin-top: -20px;
  height: 10px;
  width: 170px;
  color: white;
  padding: 6px 0 24px;
  background: #FF8A00;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}
#middle .container .home-welcome ul.square4 li .icon,
#middle .container .content ul.square4 li .icon,
#middle .container .menu-content ul.square4 li .icon {
  height: 89px;
  margin-top: 28px;
}
#middle .container .home-welcome ul.square4 li .icon-mobile,
#middle .container .content ul.square4 li .icon-mobile,
#middle .container .menu-content ul.square4 li .icon-mobile {
  display: none;
  position: absolute;
  left: 11px;
  top: 9px;
  height: 21px;
  width: 20px;
  background: url(../img/s4-icon-mobile.png) no-repeat;
}
#middle .container .home-welcome ul.square4 .food,
#middle .container .content ul.square4 .food,
#middle .container .menu-content ul.square4 .food {
  background: #B33600;
  color: #FFC887;
}
#middle .container .home-welcome ul.square4 .food .icon,
#middle .container .content ul.square4 .food .icon,
#middle .container .menu-content ul.square4 .food .icon {
  background: url(../img/s4-food.png) center bottom no-repeat;
}
#middle .container .home-welcome ul.square4 .delivery,
#middle .container .content ul.square4 .delivery,
#middle .container .menu-content ul.square4 .delivery {
  background: #FF8A00;
  color: #B33600;
}
#middle .container .home-welcome ul.square4 .delivery .icon,
#middle .container .content ul.square4 .delivery .icon,
#middle .container .menu-content ul.square4 .delivery .icon {
  background: url(../img/s4-delivery.png) center bottom no-repeat;
}
#middle .container .home-welcome ul.square4 .delivery .icon-mobile,
#middle .container .content ul.square4 .delivery .icon-mobile,
#middle .container .menu-content ul.square4 .delivery .icon-mobile {
  background-position: -22px 0px;
}
#middle .container .home-welcome ul.square4 .menu,
#middle .container .content ul.square4 .menu,
#middle .container .menu-content ul.square4 .menu {
  background: #FFC887;
  color: #B31E00;
}
#middle .container .home-welcome ul.square4 .menu .icon,
#middle .container .content ul.square4 .menu .icon,
#middle .container .menu-content ul.square4 .menu .icon {
  background: url(../img/s4-menu.png) center bottom no-repeat;
}
#middle .container .home-welcome ul.square4 .menu .icon-mobile,
#middle .container .content ul.square4 .menu .icon-mobile,
#middle .container .menu-content ul.square4 .menu .icon-mobile {
  background-position: -44px 0px;
}
#middle .container .home-welcome ul.square4 .place,
#middle .container .content ul.square4 .place,
#middle .container .menu-content ul.square4 .place {
  background: #B31E00;
  color: #FFC887;
}
#middle .container .home-welcome ul.square4 .place .icon,
#middle .container .content ul.square4 .place .icon,
#middle .container .menu-content ul.square4 .place .icon {
  background: url(../img/s4-place.png) center bottom no-repeat;
}
#middle .container .home-welcome ul.square4 .place .icon-mobile,
#middle .container .content ul.square4 .place .icon-mobile,
#middle .container .menu-content ul.square4 .place .icon-mobile {
  background-position: -66px 0px;
}
#middle .container .home-welcome .mobile-background,
#middle .container .content .mobile-background,
#middle .container .menu-content .mobile-background {
  display: none;
  overflow-y: hidden;
}
#middle .container .home-welcome .mobile-background img,
#middle .container .content .mobile-background img,
#middle .container .menu-content .mobile-background img {
  position: absolute;
  z-index: 0;
}
#middle .container .home-welcome .mobile-background .welcome-text2,
#middle .container .content .mobile-background .welcome-text2,
#middle .container .menu-content .mobile-background .welcome-text2 {
  display: block;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: white;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 25%;
  vertical-align: middle;
}
#middle .container .content,
#middle .container .menu-content {
  background: white;
  color: #444444;
  line-height: 200%;
}
#middle .container .content .page-title,
#middle .container .menu-content .page-title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  padding: 24px 0;
  text-align: center;
}
#middle .container .content .page-description,
#middle .container .menu-content .page-description {
  padding: 45px 20px 40px;
  text-align: center;
  background: url(../img/highlight-repeat.jpg) repeat;
  line-height: 200%;
}
#middle .container .content .general-wp,
#middle .container .menu-content .general-wp {
  padding: 20px;
}
#middle .container .content .general-wp .column,
#middle .container .menu-content .general-wp .column {
  width: 310px;
  padding: 0 10px 0 0;
  float: left;
}
#middle .container .content .general-wp .half-column,
#middle .container .menu-content .general-wp .half-column {
  width: 50%;
  float: left;
}
#middle .container .content .general-wp .error-message,
#middle .container .menu-content .general-wp .error-message {
  width: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #D32408;
  color: white;
  text-align: center;
  padding: 20px;
}
#middle .container .content .sub-title,
#middle .container .menu-content .sub-title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #212121;
  margin-bottom: 10px;
}
#middle .container .content .sub-title-2,
#middle .container .menu-content .sub-title-2 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  margin-bottom: 10px;
}
#middle .container .content .cart-box,
#middle .container .menu-content .cart-box {
  background: #ff8a00;
  margin-bottom: 20px;
}
#middle .container .content .cart-box .left-side .side-wrapper,
#middle .container .menu-content .cart-box .left-side .side-wrapper {
  border-right: dotted 1px #CB5B19;
  float: left;
}
#middle .container .content .cart-box .right-side .side-wrapper,
#middle .container .menu-content .cart-box .right-side .side-wrapper {
  border-left: dotted 1px #CB5B19;
  float: right;
}
#middle .container .content .cart-box .left-side,
#middle .container .menu-content .cart-box .left-side,
#middle .container .content .cart-box .right-side,
#middle .container .menu-content .cart-box .right-side {
  color: white;
}
#middle .container .content .cart-box .left-side .side-wrapper,
#middle .container .menu-content .cart-box .left-side .side-wrapper,
#middle .container .content .cart-box .right-side .side-wrapper,
#middle .container .menu-content .cart-box .right-side .side-wrapper {
  padding: 11px 10px 16px;
}
#middle .container .content .cart-box .left-side a,
#middle .container .menu-content .cart-box .left-side a,
#middle .container .content .cart-box .right-side a,
#middle .container .menu-content .cart-box .right-side a {
  color: white;
  padding: 15px 10px 20px;
}
#middle .container .content .cart-box-mobile,
#middle .container .menu-content .cart-box-mobile {
  display: none;
  background: url(../img/bg-bottom.jpg) repeat-x bottom left;
  margin-bottom: 20px;
  color: #999;
}
#middle .container .content .cart-box-mobile .left-side .side-wrapper,
#middle .container .menu-content .cart-box-mobile .left-side .side-wrapper {
  float: left;
}
#middle .container .content .cart-box-mobile .right-side .side-wrapper,
#middle .container .menu-content .cart-box-mobile .right-side .side-wrapper {
  float: right;
}
#middle .container .content .cart-box-mobile .left-side,
#middle .container .menu-content .cart-box-mobile .left-side,
#middle .container .content .cart-box-mobile .right-side,
#middle .container .menu-content .cart-box-mobile .right-side {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .cart-box-mobile .left-side .side-wrapper,
#middle .container .menu-content .cart-box-mobile .left-side .side-wrapper,
#middle .container .content .cart-box-mobile .right-side .side-wrapper,
#middle .container .menu-content .cart-box-mobile .right-side .side-wrapper {
  padding: 12px 10px 17px;
}
#middle .container .content .cart-box-mobile .left-side a,
#middle .container .menu-content .cart-box-mobile .left-side a,
#middle .container .content .cart-box-mobile .right-side a,
#middle .container .menu-content .cart-box-mobile .right-side a {
  color: #999;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  padding: 15px 10px 20px;
}
#middle .container .content .cart-box-mobile .left-side a.view,
#middle .container .menu-content .cart-box-mobile .left-side a.view,
#middle .container .content .cart-box-mobile .right-side a.view,
#middle .container .menu-content .cart-box-mobile .right-side a.view,
#middle .container .content .cart-box-mobile .left-side .total-cart,
#middle .container .menu-content .cart-box-mobile .left-side .total-cart,
#middle .container .content .cart-box-mobile .right-side .total-cart,
#middle .container .menu-content .cart-box-mobile .right-side .total-cart {
  color: #ff8a00;
  font-weight: bold;
}
#middle .container .content .menu-list li,
#middle .container .menu-content .menu-list li {
  list-style: none;
  padding: 10px;
  float: left;
  background: #F0F0F0;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
#middle .container .content .menu-list li:nth-child(2n+1),
#middle .container .menu-content .menu-list li:nth-child(2n+1) {
  margin-left: 0;
}
#middle .container .content .menu-list li .left-side,
#middle .container .menu-content .menu-list li .left-side {
  width: 160px;
}
#middle .container .content .menu-list li .left-side .thumbs,
#middle .container .menu-content .menu-list li .left-side .thumbs {
  background: white;
  padding: 5px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
#middle .container .content .menu-list li .left-side .thumbs img,
#middle .container .menu-content .menu-list li .left-side .thumbs img {
  width: 150px;
  height: 150px;
}
#middle .container .content .menu-list li .left-side .view-menu,
#middle .container .menu-content .menu-list li .left-side .view-menu {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#middle .container .content .menu-list li .left-side .view-menu a,
#middle .container .menu-content .menu-list li .left-side .view-menu a {
  display: block;
}
#middle .container .content .menu-list li .left-side .price-menu,
#middle .container .menu-content .menu-list li .left-side .price-menu {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 15px 6px;
  width: 130px;
  height: 26px;
  color: white;
  background: #B33600;
}
#middle .container .content .menu-list li .right-side,
#middle .container .menu-content .menu-list li .right-side {
  width: 283px;
  margin-left: 12px;
}
#middle .container .content .menu-list li .right-side .quantity,
#middle .container .menu-content .menu-list li .right-side .quantity {
  float: left;
}
#middle .container .content .menu-list li .right-side .quantity label,
#middle .container .menu-content .menu-list li .right-side .quantity label {
  font-style: italic;
  color: #ff8a00;
}
#middle .container .content .menu-list li .right-side .quantity label:nth-child(1),
#middle .container .menu-content .menu-list li .right-side .quantity label:nth-child(1) {
  display: inline;
}
#middle .container .content .menu-list li .right-side .quantity label:nth-child(2),
#middle .container .menu-content .menu-list li .right-side .quantity label:nth-child(2) {
  display: none;
}
#middle .container .content .menu-list li .right-side .quantity input,
#middle .container .menu-content .menu-list li .right-side .quantity input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #DDDDDD;
  padding: 7px 9px;
  width: 60px;
  color: #444444;
  margin: 0 0 0 5px;
  text-align: center;
}
#middle .container .content .menu-list li .right-side .select,
#middle .container .menu-content .menu-list li .right-side .select {
  float: left;
  margin-left: 10px;
  width: 100px;
}
#middle .container .content .menu-list li .right-side .select a,
#middle .container .menu-content .menu-list li .right-side .select a {
  width: 110px;
  padding: 3px 0 6px;
}
#middle .container .content .order-list li,
#middle .container .menu-content .order-list li {
  list-style: none;
  padding: 10px;
  background: url(../img/bg-bottom.jpg) repeat-x top left #f0f0f0;
  display: block;
  margin: 0 0 10px 0;
}
#middle .container .content .order-list li .left-side,
#middle .container .menu-content .order-list li .left-side {
  width: 80px;
}
#middle .container .content .order-list li .left-side .thumbs,
#middle .container .menu-content .order-list li .left-side .thumbs {
  background: white;
  padding: 5px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#middle .container .content .order-list li .left-side .thumbs img,
#middle .container .menu-content .order-list li .left-side .thumbs img {
  width: 70px;
  height: 70px;
}
#middle .container .content .order-list li .left-side .view-menu,
#middle .container .menu-content .order-list li .left-side .view-menu {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
#middle .container .content .order-list li .left-side .view-menu a,
#middle .container .menu-content .order-list li .left-side .view-menu a {
  display: block;
}
#middle .container .content .order-list li .left-side .price-menu,
#middle .container .menu-content .order-list li .left-side .price-menu {
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 15px 6px;
  width: 130px;
  height: 26px;
  color: white;
  background: #B33600;
}
#middle .container .content .order-list li .right-side,
#middle .container .menu-content .order-list li .right-side {
  width: 800px;
  height: 80px;
  margin-left: 12px;
  float: left;
}
#middle .container .content .order-list li .right-side h3,
#middle .container .menu-content .order-list li .right-side h3 {
  margin-bottom: 18px;
}
#middle .container .content .order-list li .right-side .price-menu,
#middle .container .menu-content .order-list li .right-side .price-menu {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 15px 6px;
  width: 130px;
  height: 26px;
  color: white;
  background: #B33600;
  float: left;
}
#middle .container .content .order-list li .right-side .quantity,
#middle .container .menu-content .order-list li .right-side .quantity {
  float: left;
  margin-left: 10px;
}
#middle .container .content .order-list li .right-side .quantity label,
#middle .container .menu-content .order-list li .right-side .quantity label {
  font-style: italic;
  color: #ff8a00;
}
#middle .container .content .order-list li .right-side .quantity label:nth-child(1),
#middle .container .menu-content .order-list li .right-side .quantity label:nth-child(1) {
  display: inline;
}
#middle .container .content .order-list li .right-side .quantity label:nth-child(2),
#middle .container .menu-content .order-list li .right-side .quantity label:nth-child(2) {
  display: none;
}
#middle .container .content .order-list li .right-side .quantity input,
#middle .container .menu-content .order-list li .right-side .quantity input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #DDDDDD;
  padding: 8px 9px 9px;
  width: 60px;
  color: #444444;
  margin: 0 0 0 5px;
  text-align: center;
}
#middle .container .content .order-list li .right-side .sub-total-wp,
#middle .container .menu-content .order-list li .right-side .sub-total-wp {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 3px 15px 6px;
  width: 170px;
  height: 26px;
  color: #B31E00;
  background: #FFC887;
  float: left;
  margin-left: 10px;
}
#middle .container .content .order-list li .right-side a.cancel,
#middle .container .menu-content .order-list li .right-side a.cancel {
  width: 75px;
  margin-left: 10px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  display: block;
  float: left;
}
#middle .container .content .order-list li .right-side a.revise,
#middle .container .menu-content .order-list li .right-side a.revise {
  margin-left: 10px;
  width: 130px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  display: block;
  float: left;
}
#middle .container .content .order-list li .button-menu,
#middle .container .menu-content .order-list li .button-menu {
  display: none;
}
#middle .container .content .order-list li .highlight-menu .right-side a.cancel,
#middle .container .menu-content .order-list li .highlight-menu .right-side a.cancel,
#middle .container .content .order-list li .highlight-menu .right-side a.revise,
#middle .container .menu-content .order-list li .highlight-menu .right-side a.revise {
  display: block;
}
#middle .container .content .order-list li .choice-list,
#middle .container .menu-content .order-list li .choice-list {
  background: none;
  width: 800px;
  float: left;
  margin-left: 92px;
}
#middle .container .content .order-list li .choice-list li,
#middle .container .menu-content .order-list li .choice-list li {
  display: inline;
  width: auto;
  background: none;
  position: relative;
  float: left;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  padding: 5px;
}
#middle .container .content .order-list li .choice-list li .title,
#middle .container .menu-content .order-list li .choice-list li .title {
  color: #ff8a00;
  margin-left: 5px;
}
#middle .container .content .order-list li .choice-list li .description,
#middle .container .menu-content .order-list li .choice-list li .description {
  font-style: italic;
  color: #B33600;
}
#middle .container .content .total-order,
#middle .container .menu-content .total-order {
  position: relative;
  color: #B21E00;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .total-order .title,
#middle .container .menu-content .total-order .title {
  background: url(../img/bg-bottom.jpg) repeat-x left bottom #f0f0f0;
  border: none;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  padding: 10px 0px 15px 40px;
  position: relative;
}
#middle .container .content .total-order .title .icon,
#middle .container .menu-content .total-order .title .icon {
  position: absolute;
  left: 8px;
  top: 11px;
}
#middle .container .content .total-order .note,
#middle .container .menu-content .total-order .note {
  background: #DC5039;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 12px 0 12px 40px;
  margin: 8px 0px 20px;
}
#middle .container .content .total-order label,
#middle .container .menu-content .total-order label {
  display: block;
  float: left;
  margin-left: 40px;
  width: 150px;
  font-style: italic;
}
#middle .container .content .total-order .total-quantity,
#middle .container .menu-content .total-order .total-quantity {
  color: #444444;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .total-order .cancel-order,
#middle .container .menu-content .total-order .cancel-order,
#middle .container .content .total-order .continue-order,
#middle .container .menu-content .total-order .continue-order {
  display: inline;
}
#middle .container .content .choice,
#middle .container .menu-content .choice {
  background: #EEEEEE;
  position: relative;
  /*&:after{
					content: ' ';
					height: 0;
					width: 0;

					border: 16px solid transparent;
					border-bottom-color: #EEEEEE;
					box-shadow: none; 
					position: absolute;
					bottom: 100%;
				}*/

}
#middle .container .content .choice .menu-title,
#middle .container .menu-content .choice .menu-title {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  padding: 20px 24px 0;
}
#middle .container .content .choice .main-list,
#middle .container .menu-content .choice .main-list {
  padding: 20px 0;
  background: url(../img/bg-bottom.jpg) repeat-x left bottom;
}
#middle .container .content .choice .main-list li,
#middle .container .menu-content .choice .main-list li {
  list-style: none;
  margin-left: 0px;
}
#middle .container .content .choice .main-list li .choice-icon,
#middle .container .menu-content .choice .main-list li .choice-icon {
  margin-right: 10px;
}
#middle .container .content .choice .main-list li .sub-title,
#middle .container .menu-content .choice .main-list li .sub-title {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
  padding: 20px 0 20px 20px;
  background: url(../img/bg-bottom.jpg) repeat-x left bottom, url(../img/bg-bottom.jpg) repeat-x left top;
}
#middle .container .content .choice .main-list li .sub-list li,
#middle .container .menu-content .choice .main-list li .sub-list li {
  padding-left: 20px;
  line-height: 150%;
  margin-bottom: 30px;
  background: none;
}
#middle .container .content .choice .main-list li .sub-list li .choice-title,
#middle .container .menu-content .choice .main-list li .sub-list li .choice-title {
  color: #1F1F1F;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .choice .main-list li .sub-list li .choice-description,
#middle .container .menu-content .choice .main-list li .sub-list li .choice-description {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin-left: 10px;
  font-style: italic;
}
#middle .container .content .choice .button-wrapper,
#middle .container .menu-content .choice .button-wrapper {
  padding: 20px 0;
  text-align: center;
}
#middle .container .content .choice .button-wrapper a,
#middle .container .menu-content .choice .button-wrapper a {
  display: inline;
}
#middle .container .content .choice .button-wrapper a:nth-child(1),
#middle .container .menu-content .choice .button-wrapper a:nth-child(1) {
  margin-right: 20px;
}
#middle .container .content .form-wp .input-wp,
#middle .container .menu-content .form-wp .input-wp,
#middle .container .content .testimonial-form-wp .input-wp,
#middle .container .menu-content .testimonial-form-wp .input-wp {
  margin-bottom: 20px;
}
#middle .container .content .form-wp .input-wp .note,
#middle .container .menu-content .form-wp .input-wp .note,
#middle .container .content .testimonial-form-wp .input-wp .note,
#middle .container .menu-content .testimonial-form-wp .input-wp .note {
  color: #B31E00;
  display: block;
}
#middle .container .content .form-wp .input-wp .captcha,
#middle .container .menu-content .form-wp .input-wp .captcha,
#middle .container .content .testimonial-form-wp .input-wp .captcha,
#middle .container .menu-content .testimonial-form-wp .input-wp .captcha {
  display: block;
}
#middle .container .content .form-wp .half-column:nth-child(1),
#middle .container .menu-content .form-wp .half-column:nth-child(1),
#middle .container .content .testimonial-form-wp .half-column:nth-child(1),
#middle .container .menu-content .testimonial-form-wp .half-column:nth-child(1) {
  margin-right: 5%;
  width: 45%;
}
#middle .container .content .form-wp .half-column .payment-title,
#middle .container .menu-content .form-wp .half-column .payment-title,
#middle .container .content .testimonial-form-wp .half-column .payment-title,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-title {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin-bottom: 10px;
  color: #ff8a00;
}
#middle .container .content .form-wp .half-column .payment-wp,
#middle .container .menu-content .form-wp .half-column .payment-wp,
#middle .container .content .testimonial-form-wp .half-column .payment-wp,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp {
  background: #DDDDDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 150%;
}
#middle .container .content .form-wp .half-column .payment-wp .left-side,
#middle .container .menu-content .form-wp .half-column .payment-wp .left-side,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .left-side,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .left-side {
  width: 170px;
  text-align: center;
}
#middle .container .content .form-wp .half-column .payment-wp .left-side img,
#middle .container .menu-content .form-wp .half-column .payment-wp .left-side img,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .left-side img,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .left-side img {
  margin-top: 10%;
}
#middle .container .content .form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side {
  width: 280px;
}
#middle .container .content .form-wp .half-column .payment-wp .right-side .payment-type,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side .payment-type,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .right-side .payment-type,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side .payment-type {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #444444;
}
#middle .container .content .form-wp .half-column .payment-wp .right-side .account-owner,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side .account-owner,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .right-side .account-owner,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side .account-owner {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #ff8a00;
}
#middle .container .content .form-wp .half-column .payment-wp .right-side .account-number,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side .account-number,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .right-side .account-number,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side .account-number {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #A6371E;
}
#middle .container .content .form-wp .half-column .payment-rule,
#middle .container .menu-content .form-wp .half-column .payment-rule,
#middle .container .content .testimonial-form-wp .half-column .payment-rule,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-rule {
  color: #A6371E;
}
#middle .container .content .form-wp .button-wrapper,
#middle .container .menu-content .form-wp .button-wrapper,
#middle .container .content .testimonial-form-wp .button-wrapper,
#middle .container .menu-content .testimonial-form-wp .button-wrapper {
  padding: 20px 0;
  text-align: center;
}
#middle .container .content .form-wp .button-wrapper a,
#middle .container .menu-content .form-wp .button-wrapper a,
#middle .container .content .testimonial-form-wp .button-wrapper a,
#middle .container .menu-content .testimonial-form-wp .button-wrapper a {
  display: inline;
}
#middle .container .content .form-wp .button-wrapper a:nth-child(1),
#middle .container .menu-content .form-wp .button-wrapper a:nth-child(1),
#middle .container .content .testimonial-form-wp .button-wrapper a:nth-child(1),
#middle .container .menu-content .testimonial-form-wp .button-wrapper a:nth-child(1) {
  margin-right: 20px;
}
#middle .container .content .testimonial-form-wp,
#middle .container .menu-content .testimonial-form-wp {
  padding: 20px;
  background: url(../img/bg-bottom.jpg) top left repeat-x #f4f4f4;
}
#middle .container .content .testimonial-form-wp input[type=text],
#middle .container .menu-content .testimonial-form-wp input[type=text],
#middle .container .content .testimonial-form-wp textarea,
#middle .container .menu-content .testimonial-form-wp textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#middle .container .content .testimonial-list li,
#middle .container .menu-content .testimonial-list li {
  margin-left: 0;
  list-style: none;
  padding-top: 40px;
  position: relative;
  margin-bottom: 20px;
}
#middle .container .content .testimonial-list li .date-wp,
#middle .container .menu-content .testimonial-list li .date-wp {
  padding: 0px 0 10px;
  width: 60px;
  text-align: center;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  right: 20px;
  top: 0;
  position: absolute;
  background: #ff8a00;
  line-height: 125%;
}
#middle .container .content .testimonial-list li .date-wp .date,
#middle .container .menu-content .testimonial-list li .date-wp .date {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: white;
}
#middle .container .content .testimonial-list li .date-wp .year,
#middle .container .menu-content .testimonial-list li .date-wp .year {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #B31E00;
}
#middle .container .content .testimonial-list li .single-testimonial,
#middle .container .menu-content .testimonial-list li .single-testimonial {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #EEEEEE;
  padding: 10px;
  position: relative;
  z-index: 1;
}
#middle .container .content .testimonial-list li .single-testimonial .left-side,
#middle .container .menu-content .testimonial-list li .single-testimonial .left-side {
  width: 110px;
}
#middle .container .content .testimonial-list li .single-testimonial .left-side img,
#middle .container .menu-content .testimonial-list li .single-testimonial .left-side img {
  width: 110px;
  height: 110px;
}
#middle .container .content .testimonial-list li .single-testimonial .right-side,
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side {
  width: 815px;
  color: #444444;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .testimonial-list li .single-testimonial .right-side .date-mobile,
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side .date-mobile {
  display: none;
}
#middle .container .content .testimonial-list li .single-testimonial .right-side .comment,
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side .comment {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .button-wrapper,
#middle .container .menu-content .button-wrapper {
  padding: 20px 0;
  text-align: center;
}
#middle .container .content .button-wrapper a,
#middle .container .menu-content .button-wrapper a {
  display: inline-block;
}
#middle .container .content .button-wrapper a:nth-child(1),
#middle .container .menu-content .button-wrapper a:nth-child(1) {
  margin-right: 20px;
}
#footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
}
#footer .container {
  height: 152px;
}
#footer .container .footer-text {
  color: #444444;
  height: 12px;
  padding: 70px 0;
  text-align: center;
}
