<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />	
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
	<title>{{ template:title }}</title>
	<meta name="Keywords" content="<?php if(!empty($keywords)) echo htmlspecialchars($keywords); ?>" />
	<meta name="Description" content="<?php if(!empty($description)) echo htmlspecialchars($description); ?>" />
	
	{{ theme:css file="style.css" }}
	{{ theme:css file="tablet.css" media="only screen and (min-width: 769px) and (max-width: 1000px)"}}
	{{ theme:css file="mobile.css" media="only screen and (max-width: 768px)" }}
	{{ theme:css file="jquery.fancybox.css" media="screen" }}
	
	{{ theme:js file="jquery.js" }}
    {{ theme:js file="resize.js" }}	 
    {{ theme:js file="jquery.mousewheel-3.0.6.pack.js" }}
    {{ theme:js file="source/jquery.fancybox.js" }}    
    
   
	<script type="text/javascript">
		$(document).ready(function(){
			$('.toggle').bind('click', function(){
				var nav = $('.nav2');
                console.log(nav.css('display'));
                if(nav.css('display')=='none') nav.css('display','block');
                else nav.css('display','none');
			})
		});
        
		$(window).load(function() {
			$("#background").fullBg();
			$("#mobile-headline").fullMobile();
		});
		
		$('.fancybox').fancybox();
	</script>
	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?1aIfCFTzBGo4Qi2aUuA2Hudb7rJbsoSH';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->

</head>
<body>
	<img src="{{ theme:image_url file="bg1.jpg" }}" class="fullBg" id="background" alt="" title=""/>
	<div id="header">
		<div class="container">
			<a href="#"><div class="logo"></div></a>
			<ul class="nav">
				{{ navigation:links group="header" }}
			</ul>
			<div class="mobile-nav">
				<div class="text-logo">Marina Restaurant</div>
				<a class="toggle" href="javascript:void(0)"></a>
				<ul class="nav2">
					{{ navigation:links group="header" }}
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>