<div class="push"></div>
</div> <!-- #primary-container -->
<div id="footer">
	<div class="container">
		<div class="footer-text">
			<div class="address">
				Jl Raya Tuka No.74 Tuka - Badung
				<ul>
					<li>Phone: 0361 7142322 | </li>
					<li>FAX: 03617825571 | </li>
					<li>email: info@marinaresto.com</li>
				</ul>
			</div> <!-- .address -->
			<div class="social-media">
				<ul>
					<li><a href="#"><i class="social-icn fb"></i>marinafacebook</a></li>
					<li><a href="#"><i class="social-icn tw"></i>marinatwitter</a></li>
					<li><a href="#"><i class="social-icn pi"></i>marinapinterest</a></li>
				</ul>
			</div> <!-- .social-media -->
		</div> <!-- .footer-text -->
		<div class="bvpm">
			This site is owned and operated by BPVM.
			<span class="bvpm-logo">
				<a href="#">{{ theme:image file="bvpm_logo.png" }}</a>
			</span> <!-- .bvpm-logo -->
		</div> <!-- .bvpm -->
		<div class="clear"></div>
	</div> <!-- .container -->
	<div id="copyright">
		<div class="container">
			Copyright © 2013 Marina Restaurant.
		</div> <!-- .container -->
	</div> <!-- #copyright -->
</div> <!-- #footer -->