<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />	
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
	<title>{{ template:title }}</title>
	<meta name="Keywords" content="<?php if(!empty($keywords)) echo htmlspecialchars($keywords); ?>" />
	<meta name="Description" content="<?php if(!empty($description)) echo htmlspecialchars($description); ?>" />
	
	{{ theme:css file="style.css" }}
	{{ theme:css file="tablet.css" media="only screen and (min-width: 769px) and (max-width: 1000px)"}}
	{{ theme:css file="mobile.css" media="only screen and (max-width: 768px)" }}
	{{ theme:css file="jquery.fancybox.css" media="screen" }}
	
	{{ theme:js file="jquery.js" }}
    {{ theme:js file="resize.js" }}	 
    {{ theme:js file="jquery.mousewheel-3.0.6.pack.js" }}
    {{ theme:js file="source/jquery.fancybox.js" }}    
    
   
	<script type="text/javascript">
		$(document).ready(function(){
			$('.toggle').bind('click', function(){
				var nav = $('.nav2');
                console.log(nav.css('display'));
                if(nav.css('display')=='none') nav.css('display','block');
                else nav.css('display','none');
			})
		});
        
		$(window).load(function() {
			$("#background").fullBg();
			$("#mobile-headline").fullMobile();
		});
		
		$('.fancybox').fancybox();
	</script>
	
	<!-- SLIDER -->
    
    {{ theme:css file="refineslide.css" }}
    {{ theme:css file="refineslide-theme-dark.css" }}
    {{ theme:js file="jquery.refineslide.js" }}
    {{ theme:js file="modernizr.js" }}	 
    
    <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <script>
        $(function () {
            var $upper = $('#upper');

            $('#images').refineSlide({
                transition : 'fade',
                
            });
        });
    </script>

</head>
<body>
	<img src="{{ theme:image_url file="bg1_blur.jpg" }}" class="fullBg" id="background" alt="" title=""/>
<div id="primary-container">	
	<div id="header">
		<div class="container">
			<a href="{{ url:site }}"><div class="logo"></div></a>
			<ul class="nav">
				{{ navigation:links group="header" }}
			</ul>
			<div class="mobile-nav">
				<div class="text-logo">Marina Restaurant</div>
				<a class="toggle" href="javascript:void(0)"></a>
				<ul class="nav2">
					{{ navigation:links group="header" }}
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>