{{ theme:partial name="header" }}
<div id="middle">
	<div class="container">
		<div class="menu-content">
			<div class="page-title">{{ page:page_title }}</div>
			<div class="page-description">
				 <p>
                    To contact us please fill out the form below.<br/>
                	Please note: all fields are required
               	</p>
			</div>
			<div class="contact-form-wp">
				{{ page:body }}
			</div>
			<div class="menu-mobile-title">Our Services</div>
			{{ widgets:instance id="1"}}
			<div class="clear"></div>
		</div>	
	</div>
</div>
{{ theme:partial name="footer" }}