{{ theme:partial name="header" }}
<div id="middle">
	<div class="container">
		<div class="content">
			<div class="page-title">{{ page:page_title }}</div>
			<div class="page-banner"></div>
			<div class="page-description">{{ page:body }}</div>
			<div class="menu-mobile-title">Our Services</div>
			{{ widgets:instance id="1"}}
			<div class="clear"></div>
		</div>	
	</div>
</div>
{{ theme:partial name="footer" }}