{{ theme:partial name="header" }}
<div id="middle">
	<div class="container">
		<div class="home-welcome">
			<div class="welcome-text">{{ page:page_title }}</div>
			<div class="mobile-background">
				<img src="img/bg1.jpg" id="mobile-headline">
				<div class="welcome-text2">{{ page:page_title }}</div>
			</div>
			<div class="highlight">
				<div class="circle">
					<a href="#" class="link"><img src="{{ theme:image_url file="circle1.png" }}"></a>
					<a href="#" class="link"><img src="{{ theme:image_url file="circle2.png" }}"></a>
					<a href="#" class="link"><img src="{{ theme:image_url file="circle3.png" }}"></a>
					<a href="#" class="link"><img src="{{ theme:image_url file="circle4.png" }}"></a>
					<div class="clear"></div>
				</div>
				<div class="delecious-title">Find Delecious Menu in Single Click!</div>
				<div class="delecious-text">{{ page:body }}</div>
			</div>
			<div class="menu-mobile-title">Our Services</div>
			{{ widgets:instance id="1"}}
			<div class="clear"></div>
		</div>
	</div>
</div>
{{ theme:partial name="footer" }}