input[type=text],
textarea,
.button,
.button-auto {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.container {
  width: auto;
}
.fullBg {
  display: none;
}
.side-padding {
  padding: 0 10px;
  margin: 20px 0;
}
.dark-line {
  margin: 5px 0;
}
body {
  background: url(../img/highlight-repeat.jpg) repeat;
}
#header .container {
  padding: 0 0 10px 0;
  height: auto;
}
#header .container .logo,
#header .container ul.nav {
  display: none;
}
#header .container .mobile-nav {
  display: block;
}
#header .container .mobile-nav ul {
  display: block;
}
#header .container .mobile-nav ul li a {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#header .container .mobile-nav .text-logo {
  font-family: leck;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#header .container .mobile-nav a.toggle {
  right: 5px;
  top: 7px;
}
#middle .container .home-welcome,
#middle .container .content,
#middle .container .menu-content {
  height: auto;
  margin-top: 0;
  padding-top: 0;
  background: none;
}
#middle .container .home-welcome .highlight,
#middle .container .content .highlight,
#middle .container .menu-content .highlight {
  background: none;
  margin-top: 0;
}
#middle .container .home-welcome .highlight .circle,
#middle .container .content .highlight .circle,
#middle .container .menu-content .highlight .circle {
  display: none;
}
#middle .container .home-welcome .highlight .delecious-title,
#middle .container .content .highlight .delecious-title,
#middle .container .menu-content .highlight .delecious-title {
  font-family: leck;
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .home-welcome .highlight .delecious-text,
#middle .container .content .highlight .delecious-text,
#middle .container .menu-content .highlight .delecious-text {
  width: auto;
  padding: 0 10px;
}
#middle .container .home-welcome .welcome-text,
#middle .container .content .welcome-text,
#middle .container .menu-content .welcome-text {
  display: none;
}
#middle .container .home-welcome .menu-mobile-title,
#middle .container .content .menu-mobile-title,
#middle .container .menu-content .menu-mobile-title {
  display: block;
}
#middle .container .home-welcome ul.square4,
#middle .container .content ul.square4,
#middle .container .menu-content ul.square4 {
  padding: 0 10px;
}
#middle .container .home-welcome ul.square4 li,
#middle .container .content ul.square4 li,
#middle .container .menu-content ul.square4 li {
  display: block;
  float: none;
  height: auto;
  width: auto;
  padding: 7px 10px 8px 45px;
  text-align: left;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .home-welcome ul.square4 li .icon-mobile,
#middle .container .content ul.square4 li .icon-mobile,
#middle .container .menu-content ul.square4 li .icon-mobile {
  display: block;
}
#middle .container .home-welcome ul.square4 li .detail-wp,
#middle .container .content ul.square4 li .detail-wp,
#middle .container .menu-content ul.square4 li .detail-wp,
#middle .container .home-welcome ul.square4 li .icon,
#middle .container .content ul.square4 li .icon,
#middle .container .menu-content ul.square4 li .icon,
#middle .container .home-welcome ul.square4 li .text,
#middle .container .content ul.square4 li .text,
#middle .container .menu-content ul.square4 li .text {
  display: none;
}
#middle .container .home-welcome ul.square4 li .title,
#middle .container .content ul.square4 li .title,
#middle .container .menu-content ul.square4 li .title {
  margin-top: 0;
}
#middle .container .home-welcome ul.square4 li .icon-mobile,
#middle .container .content ul.square4 li .icon-mobile,
#middle .container .menu-content ul.square4 li .icon-mobile {
  display: block;
  position: absolute;
}
#middle .container .home-welcome ul.square4 .food,
#middle .container .content ul.square4 .food,
#middle .container .menu-content ul.square4 .food,
#middle .container .home-welcome ul.square4 .delivery,
#middle .container .content ul.square4 .delivery,
#middle .container .menu-content ul.square4 .delivery,
#middle .container .home-welcome ul.square4 .menu,
#middle .container .content ul.square4 .menu,
#middle .container .menu-content ul.square4 .menu,
#middle .container .home-welcome ul.square4 .place,
#middle .container .content ul.square4 .place,
#middle .container .menu-content ul.square4 .place {
  color: white;
  background: #2565c7;
}
#middle .container .home-welcome .mobile-background,
#middle .container .content .mobile-background,
#middle .container .menu-content .mobile-background {
  display: block;
  position: relative;
}
#middle .container .content .page-title,
#middle .container .menu-content .page-title {
  background: url(../img/bg-bottom.jpg) repeat-x left bottom;
  padding-top: 25px;
}
#middle .container .content .general-wp .column,
#middle .container .menu-content .general-wp .column {
  width: 100%;
}
#middle .container .menu-content {
  background: url(../img/bg-menu-content.jpg) repeat;
}
#middle .container .menu-content .page-title {
  padding: 13px 0 18px 13px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-align: left;
}
#middle .container .menu-content .page-description {
  display: none;
}
#middle .container .menu-content .general-wp {
  padding: 0 0 20px;
  line-height: normal;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .sub-title,
#middle .container .menu-content .sub-title-2 {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .cart-box {
  display: none;
}
#middle .container .menu-content .cart-box-mobile {
  display: block;
}
#middle .container .menu-content .cart-box-mobile .dark-line {
  margin: 0;
}
#middle .container .menu-content .menu-list li {
  margin-left: 0;
  background: transparent;
  float: none;
}
#middle .container .menu-content .menu-list li .left-side {
  width: 25%;
  margin-bottom: 10px;
}
#middle .container .menu-content .menu-list li .left-side .thumbs {
  width: 90%;
  padding: 5%;
  height: auto;
}
#middle .container .menu-content .menu-list li .left-side .thumbs img {
  width: 100%;
  height: auto;
}
#middle .container .menu-content .menu-list li .left-side .view-menu a {
  padding: 4px 0px 5px;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
}
#middle .container .menu-content .menu-list li .left-side .price-menu {
  padding: 4px 0px 2px;
  font-family: Open Sans;
  font-size: 9px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 18px;
}
#middle .container .menu-content .menu-list li:nth-child(2n+1) {
  background: #F0F0F0;
  margin-left: 0;
}
#middle .container .menu-content .menu-list li .right-side {
  float: left;
  width: 73%;
  margin-left: 2%;
}
#middle .container .menu-content .menu-list li .right-side h3 {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .menu-list li .right-side .menu-description {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  line-height: 140%;
  display: block;
  height: 45px;
  overflow: hidden;
}
#middle .container .menu-content .menu-list li .right-side .quantity {
  display: inline;
}
#middle .container .menu-content .menu-list li .right-side .quantity input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 2px 0px;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  height: 18px;
  width: 59px;
}
#middle .container .menu-content .menu-list li .right-side .quantity label:nth-child(1) {
  display: none;
}
#middle .container .menu-content .menu-list li .right-side .quantity label:nth-child(2) {
  display: inline;
}
#middle .container .menu-content .menu-list li .right-side .select {
  width: 80px;
  display: inline;
  margin-left: 5px;
}
#middle .container .menu-content .menu-list li .right-side .select a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 3px 0px 2px;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  width: 80px;
  height: 18px;
}
#middle .container .menu-content .order-list li .left-side {
  width: 80px;
  height: auto;
}
#middle .container .menu-content .order-list li .left-side .thumbs {
  width: 70px;
  height: auto;
}
#middle .container .menu-content .order-list li .left-side .price-menu {
  display: block;
  padding: 4px 0px 2px;
  font-family: Open Sans;
  font-size: 9px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 18px;
}
#middle .container .menu-content .order-list li .right-side {
  width: 200px;
  margin-left: 2%;
  height: auto;
}
#middle .container .menu-content .order-list li .right-side .price-menu {
  display: none;
}
#middle .container .menu-content .order-list li .right-side h3 {
  margin-bottom: 5px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .order-list li .right-side .quantity,
#middle .container .menu-content .order-list li .right-side a.cancel {
  clear: both;
  margin-left: 0;
}
#middle .container .menu-content .order-list li .right-side .quantity input {
  padding: 4px 9px 5px;
}
#middle .container .menu-content .order-list li .right-side .sub-total-wp {
  background: transparent;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: left;
  color: #2565c7;
}
#middle .container .menu-content .order-list li .right-side .sub-total-wp .sub-total {
  color: #B33600;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .order-list li .right-side a.cancel,
#middle .container .menu-content .order-list li .right-side a.revise {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 3px 0px 2px;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  width: 80px;
  height: 18px;
}
#middle .container .menu-content .order-list li .button-menu {
  display: block;
}
#middle .container .menu-content .order-list li .button-menu .right-side a.cancel,
#middle .container .menu-content .order-list li .button-menu .right-side a.revise {
  display: block;
}
#middle .container .menu-content .order-list li .highlight-menu .right-side a.cancel,
#middle .container .menu-content .order-list li .highlight-menu .right-side a.revise {
  display: none;
}
#middle .container .menu-content .order-list li .choice-list {
  margin-left: 0;
}
#middle .container .menu-content .order-list li .choice-list li {
  width: 80%;
  padding: 3px 0px;
  margin-bottom: 0;
}
#middle .container .menu-content .order-list li .choice-list li .title,
#middle .container .menu-content .order-list li .choice-list li .description {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .total-order .title {
  background: #F0F0F0;
  padding-bottom: 0;
  padding-left: 10px;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .total-order .title .icon {
  display: none;
}
#middle .container .menu-content .total-order .note {
  margin: 0;
  background: url(../img/bg-bottom.jpg) repeat-x left bottom #f0f0f0;
  padding: 0 0 20px 10px;
  font-style: italic;
  color: #A8451E;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 15px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .menu-content .total-order .dark-line {
  margin: 15px 0;
}
#middle .container .menu-content .total-order label {
  margin-left: 10px;
}
#middle .container .menu-content .form-wp,
#middle .container .menu-content .testimonial-form-wp,
#middle .container .menu-content .contact-form-wp {
  padding: 20px 10px;
}
#middle .container .menu-content .form-wp .half-column,
#middle .container .menu-content .testimonial-form-wp .half-column,
#middle .container .menu-content .contact-form-wp .half-column {
  float: none;
  width: 100%;
}
#middle .container .menu-content .form-wp .half-column:nth-child(1),
#middle .container .menu-content .testimonial-form-wp .half-column:nth-child(1),
#middle .container .menu-content .contact-form-wp .half-column:nth-child(1) {
  width: 100%;
}
#middle .container .menu-content .form-wp .half-column .payment-wp .left-side,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .left-side,
#middle .container .menu-content .contact-form-wp .half-column .payment-wp .left-side,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .contact-form-wp .half-column .payment-wp .right-side {
  float: none;
  width: 100%;
}
#middle .container .menu-content .form-wp .half-column .payment-wp .left-side img,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .left-side img,
#middle .container .menu-content .contact-form-wp .half-column .payment-wp .left-side img,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side img,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side img,
#middle .container .menu-content .contact-form-wp .half-column .payment-wp .right-side img {
  margin-top: 0;
}
#middle .container .menu-content .testimonial-form-wp {
  background: transparent;
}
#middle .container .menu-content .contact-form-wp {
  background: url(../img/bg-bottom.jpg) repeat-x left top transparent;
}
#middle .container .menu-content .contact-text {
  background: none;
}
#middle .container .menu-content .testimonial-list li {
  padding-top: 0;
  margin: 0;
  background: url(../img/bg-bottom.jpg) repeat-x left top #eeeeee;
}
#middle .container .menu-content .testimonial-list li:nth-child(2n+1) {
  background: url(../img/bg-bottom.jpg) repeat-x left top transparent;
}
#middle .container .menu-content .testimonial-list li .date-wp {
  display: none;
}
#middle .container .menu-content .testimonial-list li .single-testimonial {
  background: transparent;
  padding: 2%;
}
#middle .container .menu-content .testimonial-list li .single-testimonial .left-side {
  display: none;
}
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side {
  width: 100%;
  float: none;
}
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side .date-mobile {
  display: block;
}
#middle .container .menu-content .button-wrapper {
  padding: 20px 0;
  text-align: center;
}
#middle .container .menu-content .button-wrapper a {
  width: auto;
  padding: 5px 15px;
}
#middle .container .menu-content .button-wrapper a:nth-child(1) {
  margin-right: 20px;
}
#middle .container .menu-content .catering4 {
  display: none;
}
#middle .container .menu-content .catering-packages p.text {
  padding: 0 10px 20px;
}
#middle .container .menu-content .catering-packages ul li {
  padding: 10px 10px 40px;
}
#middle .container .menu-content .catering-packages ul li:nth-child(2n+1) {
  background: none;
}
#middle .container .menu-content .catering-packages ul li .title-wp .title {
  float: none;
  display: block;
}
#middle .container .menu-content .catering-packages ul li .title-wp .price {
  float: none;
  font-size: 11px;
  background-position: 0px -15px;
}
#middle .container .menu-content .catering-packages ul li .food-thumbs ul li {
  border: none;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#middle .container .menu-content .catering-packages ul li .food-thumbs ul li img {
  width: 100%;
  height: auto;
}
#middle .container .menu-content .catering-packages ul li .quantity .input-text,
#middle .container .menu-content .catering-packages ul li .quantity .button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 2%;
}
#middle .container .menu-content .catering-packages ul li .quantity .button {
  width: 100px;
}
#middle .container .menu-content .map .map-img,
#middle .container .menu-content .map .map-info {
  float: none;
  display: block;
  padding: 0px 3% 10px;
  width: 94%;
}
#middle .container .menu-content .map .map-img img,
#middle .container .menu-content .map .map-info img {
  width: 100%;
}
#footer {
  background: #2565c7;
}
#footer .container {
  height: auto;
}
#footer .container .footer-text {
  height: auto;
  padding: 15px 0;
  color: white;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
/*============================
STICKY FOOTER
============================*/
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
#primary-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px;
  /* the bottom margin is the negative value of the footer's height */

}
.footer,
.push {
  height: 42px;
  /* .push must be the same height as .footer */

}
#footer {
  /* .container */

  /* .footer-text */

  /* .bvpm */

  /* address */

  /* .social-media */

  /* #copyright */

}
#footer .container {
  padding: 0px 10px;
}
#footer .footer-text {
  padding-top: 40px;
  float: left;
}
#footer .bvpm {
  display: none;
  margin-top: 40px;
  float: right;
  height: 74px;
  color: #444444;
  /* span */

}
#footer .bvpm span {
  display: block;
  text-align: right;
  font-size: 40px;
  padding-top: 15px;
}
#footer .address {
  /* ul */

}
#footer .address ul {
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: left;
  /* li */

}
#footer .address ul li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#footer .social-media {
  display: none;
  /* ul */
}
#footer .social-media ul {
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: left;
  /* li */

}
#footer .social-media ul li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
  /* a */

}
#footer .social-media ul li a {
  display: block;
  color: #4444;
  margin-right: 10px;
  font-weight: normal;
  /* i.social-icn */

}
#footer .social-media ul li a i.social-icn {
  width: 18px;
  height: 18px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background: transparent url('../img/social-icn.png') no-repeat;
  /* &.fb */

  /* &.tw */

  /* &.pi */
}
#footer .social-media ul li a i.social-icn.fb {
  background-position: -18px 0px;
}
#footer .social-media ul li a i.social-icn.tw {
  background-position: 0px 0px;
}
#footer .social-media ul li a i.social-icn.pi {
  background-position: -36px 0px;
}
#footer #copyright {
  /* container */

  background-color: #2565C7;
  height: 40px;
}
#footer #copyright .container {
  padding-top: 13px;
  height: auto !important;
  color: white;
}
/* #footer */