.container {
  width: auto;
}
.side-padding {
  padding: 0;
}
#header .container {
  padding: 0 20px;
}
#middle .container {
  padding: 0 20px;
}
#middle .container .home-welcome .highlight .circle,
#middle .container .content .highlight .circle,
#middle .container .menu-content .highlight .circle {
  width: 484px;
}
#middle .container .home-welcome .highlight .circle a.link,
#middle .container .content .highlight .circle a.link,
#middle .container .menu-content .highlight .circle a.link {
  width: 90px;
  height: 90px;
  margin-left: 20px;
}
#middle .container .home-welcome .highlight .circle a.link:nth-child(1),
#middle .container .content .highlight .circle a.link:nth-child(1),
#middle .container .menu-content .highlight .circle a.link:nth-child(1) {
  margin-left: 0;
}
#middle .container .home-welcome .highlight .circle a.link img,
#middle .container .content .highlight .circle a.link img,
#middle .container .menu-content .highlight .circle a.link img {
  width: 90px;
  height: 90px;
}
#middle .container .home-welcome .highlight .delecious-text,
#middle .container .content .highlight .delecious-text,
#middle .container .menu-content .highlight .delecious-text {
  width: auto;
  padding: 0 20px;
}
#middle .container .home-welcome ul.square4,
#middle .container .content ul.square4,
#middle .container .menu-content ul.square4 {
  height: 250px;
}
#middle .container .home-welcome ul.square4 li,
#middle .container .content ul.square4 li,
#middle .container .menu-content ul.square4 li {
  height: 100%;
  width: 25%;
}
#middle .container .home-welcome ul.square4 li .text,
#middle .container .content ul.square4 li .text,
#middle .container .menu-content ul.square4 li .text {
  height: 78px;
  overflow: hidden;
}
#middle .container .content .general-wp .column,
#middle .container .menu-content .general-wp .column {
  width: 100%;
}
#middle .container .content .menu-list li,
#middle .container .menu-content .menu-list li {
  margin-left: 0;
  float: none;
}
#middle .container .content .menu-list li .left-side,
#middle .container .menu-content .menu-list li .left-side {
  width: 25%;
}
#middle .container .content .menu-list li .left-side .thumbs,
#middle .container .menu-content .menu-list li .left-side .thumbs {
  width: 90%;
  padding: 5%;
  height: auto;
}
#middle .container .content .menu-list li .left-side .thumbs img,
#middle .container .menu-content .menu-list li .left-side .thumbs img {
  width: 100%;
  height: auto;
}
#middle .container .content .menu-list li .left-side .view-menu,
#middle .container .menu-content .menu-list li .left-side .view-menu {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
#middle .container .content .menu-list li .left-side .price-menu,
#middle .container .menu-content .menu-list li .left-side .price-menu {
  padding: 3px 0 6px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  width: 100%;
}
#middle .container .content .menu-list li .right-side,
#middle .container .menu-content .menu-list li .right-side {
  float: left;
  width: 73%;
  margin-left: 2%;
}
#middle .container .content .menu-list li:nth-child(2n+1),
#middle .container .menu-content .menu-list li:nth-child(2n+1) {
  margin-left: 0;
}
#middle .container .content .order-list li .left-side,
#middle .container .menu-content .order-list li .left-side {
  width: 160px;
  height: auto;
}
#middle .container .content .order-list li .left-side .thumbs,
#middle .container .menu-content .order-list li .left-side .thumbs {
  width: 150px;
  height: auto;
}
#middle .container .content .order-list li .left-side .price-menu,
#middle .container .menu-content .order-list li .left-side .price-menu {
  display: block;
}
#middle .container .content .order-list li .right-side,
#middle .container .menu-content .order-list li .right-side {
  width: 76.5625%;
  margin-left: 20px;
  height: auto;
  float: left;
}
#middle .container .content .order-list li .right-side .price-menu,
#middle .container .menu-content .order-list li .right-side .price-menu {
  display: none;
}
#middle .container .content .order-list li .right-side h3,
#middle .container .menu-content .order-list li .right-side h3 {
  margin-bottom: 10px;
}
#middle .container .content .order-list li .right-side .quantity,
#middle .container .menu-content .order-list li .right-side .quantity,
#middle .container .content .order-list li .right-side a.cancel,
#middle .container .menu-content .order-list li .right-side a.cancel {
  clear: both;
  margin-left: 0;
}
#middle .container .content .order-list li .button-menu,
#middle .container .menu-content .order-list li .button-menu {
  display: block;
}
#middle .container .content .order-list li .button-menu .right-side a.cancel,
#middle .container .menu-content .order-list li .button-menu .right-side a.cancel,
#middle .container .content .order-list li .button-menu .right-side a.revise,
#middle .container .menu-content .order-list li .button-menu .right-side a.revise {
  display: block;
}
#middle .container .content .order-list li .highlight-menu .right-side a.cancel,
#middle .container .menu-content .order-list li .highlight-menu .right-side a.cancel,
#middle .container .content .order-list li .highlight-menu .right-side a.revise,
#middle .container .menu-content .order-list li .highlight-menu .right-side a.revise {
  display: none;
}
#middle .container .content .order-list li .choice-list,
#middle .container .menu-content .order-list li .choice-list {
  margin-left: 0;
}
#middle .container .content .order-list li .choice-list li,
#middle .container .menu-content .order-list li .choice-list li {
  width: 40%;
}
#middle .container .content .form-wp .half-column,
#middle .container .menu-content .form-wp .half-column,
#middle .container .content .testimonial-form-wp .half-column,
#middle .container .menu-content .testimonial-form-wp .half-column,
#middle .container .content .contact-form-wp .half-column,
#middle .container .menu-content .contact-form-wp .half-column {
  float: none;
  width: 100%;
}
#middle .container .content .form-wp .half-column:nth-child(1),
#middle .container .menu-content .form-wp .half-column:nth-child(1),
#middle .container .content .testimonial-form-wp .half-column:nth-child(1),
#middle .container .menu-content .testimonial-form-wp .half-column:nth-child(1),
#middle .container .content .contact-form-wp .half-column:nth-child(1),
#middle .container .menu-content .contact-form-wp .half-column:nth-child(1) {
  width: 100%;
}
#middle .container .content .form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .form-wp .half-column .payment-wp .right-side,
#middle .container .content .testimonial-form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .testimonial-form-wp .half-column .payment-wp .right-side,
#middle .container .content .contact-form-wp .half-column .payment-wp .right-side,
#middle .container .menu-content .contact-form-wp .half-column .payment-wp .right-side {
  float: left;
  width: auto;
}
#middle .container .content .contact-form-wp,
#middle .container .menu-content .contact-form-wp {
  background: url(../img/bg-bottom.jpg) repeat-x left top #f4f4f4;
}
#middle .container .content .testimonial-list li .single-testimonial,
#middle .container .menu-content .testimonial-list li .single-testimonial {
  padding: 2%;
}
#middle .container .content .testimonial-list li .single-testimonial .left-side,
#middle .container .menu-content .testimonial-list li .single-testimonial .left-side {
  width: 15%;
}
#middle .container .content .testimonial-list li .single-testimonial .left-side img,
#middle .container .menu-content .testimonial-list li .single-testimonial .left-side img {
  width: 100%;
  height: auto;
}
#middle .container .content .testimonial-list li .single-testimonial .right-side,
#middle .container .menu-content .testimonial-list li .single-testimonial .right-side {
  width: 81%;
}
#middle .container .content .catering4 ul li,
#middle .container .menu-content .catering4 ul li {
  width: 25%;
  height: auto;
}
#middle .container .content .catering4 ul li img,
#middle .container .menu-content .catering4 ul li img {
  width: 100%;
  height: auto;
}
#middle .container .content .map .map-img,
#middle .container .menu-content .map .map-img {
  width: 100%;
  float: none;
}
#middle .container .content .map .map-img img,
#middle .container .menu-content .map .map-img img {
  width: 100%;
}
#middle .container .content .map .map-info,
#middle .container .menu-content .map .map-info {
  float: none;
  width: 100%;
}
#middle .container .content .map .map-info .location,
#middle .container .menu-content .map .map-info .location {
  width: 50%;
  float: left;
}
#middle .container .content .map .map-info .email,
#middle .container .menu-content .map .map-info .email {
  width: 50%;
  float: right;
}
#middle .container .content .map .map-info span,
#middle .container .menu-content .map .map-info span {
  display: block;
}
.highlight-menu {
  /* .right-side */

}
/* highlight-menu */
#footer {
  /* .footer-text */

  /* .bvpm */

  /* address */

  /* .social-media */

  /* #copyright */

}
#footer .container {
  padding: 0px 20px;
}
#footer .footer-text {
  padding-top: 40px;
  float: left;
}
#footer .bvpm {
  margin-top: 40px;
  float: right;
  height: 74px;
  color: #444444;
  /* span */

}
#footer .bvpm span {
  display: block;
  text-align: right;
  font-size: 40px;
  padding-top: 15px;
}
#footer .address {
  /* ul */

}
#footer .address ul {
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: left;
  /* li */

}
#footer .address ul li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#footer .social-media {
  /* ul */
}
#footer .social-media ul {
  margin: 10px 0px 0px 0px;
  display: block;
  text-align: left;
  /* li */

}
#footer .social-media ul li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
  /* a */

}
#footer .social-media ul li a {
  display: block;
  color: #4444;
  margin-right: 10px;
  font-weight: normal;
  /* i.social-icn */

}
#footer .social-media ul li a i.social-icn {
  width: 18px;
  height: 18px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background: transparent url('../img/social-icn.png') no-repeat;
  /* &.fb */

  /* &.tw */

  /* &.pi */
}
#footer .social-media ul li a i.social-icn.fb {
  background-position: -18px 0px;
}
#footer .social-media ul li a i.social-icn.tw {
  background-position: 0px 0px;
}
#footer .social-media ul li a i.social-icn.pi {
  background-position: -36px 0px;
}
#footer #copyright {
  /* container */

  background-color: #2565C7;
  height: 40px;
}
#footer #copyright .container {
  padding-top: 13px;
  height: auto !important;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
/* #footer */