.opens( @size:13px, @weight:400 ){
	font-family: Open Sans;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.container  {
    width: auto;
} 

.side-padding{
	padding: 0;
}

#header{
	.container{
		padding: 0 20px;
	}
}

#middle{
	.container{
		padding: 0 20px;
		
		.home-welcome, .content, .menu-content{
			.highlight{
				.circle{
					width: 484px;

					a.link{
						width: 90px;
						height: 90px;
						margin-left: 20px;

						&:nth-child(1){
							margin-left: 0;
						}

						img{
							width: 90px;
							height: 90px;
						}
					}
				}

				.delecious-text{
					width: auto;
					padding: 0 20px;
				}
			}

			ul.square4{
					height: 250px;
				li{
					height: 100%;
					width: percentage(250px/1000px);
					.text{
						height: 78px;
						overflow: hidden;
					}
				}
			}
		}

		.content, .menu-content{
			.general-wp{
				.column{
					width: 100%;
				}
			}

			.menu-list{
				li{
					margin-left: 0;
					float: none;

					.left-side{
						width: 25%;

						.thumbs{
							width: 90%;
							padding: 5%;
							height: auto;

							img{
								width: 100%;
								height: auto;		
							}
						}

						.view-menu{
							.opens(12px, 400);
						}

						.price-menu{
							padding: 3px 0 6px;
							.opens(12px, 400);
							width: 100%;
						}
					}

					.right-side{
						float: left;
						width: 73%;
						margin-left: 2%;
					}

					&:nth-child(2n+1){
						margin-left: 0;
					}
				}
			}

			.order-list{
				li{
					.left-side{
						width: 160px;
						height: auto;

						.thumbs{
							width: 150px;
							height: auto;
						}

						.price-menu{
							display: block;
						}
					}

					.right-side{
						width: 480px;
						margin-left: 2%;
						height: auto;

						.price-menu{
							display: none;
						}

						h3{
							margin-bottom: 10px;
						}

						.quantity, a.cancel{
							clear: both;
							margin-left: 0;
						}
					}

					.button-menu{
						display: block;

						.right-side{
							a.cancel, a.revise{
								display: block;
							}	
						}
					}

					.highlight-menu{
						.right-side{
							a.cancel, a.revise{
								display: none;
							}	
						}
					}

					.choice-list{
						margin-left: 0;

						li{
							width: 40%;
						}
					}
				}
			}

			.form-wp, .testimonial-form-wp{
				.half-column{
					float: none;
					width: 100%;

					&:nth-child(1){
						width: 100%;
					}

					.payment-wp{
						.right-side{
							float: left;
							width: auto;
						}	
					}
					
				}
			}

			.testimonial-list{
				li{
					.single-testimonial{
						padding: 2%;
						.left-side{
							width: 15%;
							
							img{
								width: 100%;
								height: auto;
							}
						}
						.right-side{
							width: 81%;
						}
					}
				}
			}
		}
	}
}