.opens( @size:13px, @weight:400 ){
	font-family: Open Sans;
	font-size: @size;
	font-weight: @weight;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.container  {
    width: auto;
} 

.side-padding{
	padding: 0;
}

#header{
	.container{
		padding: 0 20px;
	}
}

#middle{
	.container{
		padding: 0 20px;
		
		.home-welcome, .content, .menu-content{
			.highlight{
				.circle{
					width: 484px;

					a.link{
						width: 90px;
						height: 90px;
						margin-left: 20px;

						&:nth-child(1){
							margin-left: 0;
						}

						img{
							width: 90px;
							height: 90px;
						}
					}
				}

				.delecious-text{
					width: auto;
					padding: 0 20px;
				}
			}

			ul.square4{
					height: 250px;
				li{
					height: 100%;
					width: percentage(250px/1000px);
					.text{
						height: 78px;
						overflow: hidden;
					}
				}
			}
		}

		.content, .menu-content{
			.general-wp{
				.column{
					width: 100%;
				}
			}

			.menu-list{
				li{
					margin-left: 0;
					float: none;

					.left-side{
						width: 25%;

						.thumbs{
							width: 90%;
							padding: 5%;
							height: auto;

							img{
								width: 100%;
								height: auto;		
							}
						}

						.view-menu{
							.opens(12px, 400);
						}

						.price-menu{
							padding: 3px 0 6px;
							.opens(12px, 400);
							width: 100%;
						}
					}

					.right-side{
						float: left;
						width: 73%;
						margin-left: 2%;
					}

					&:nth-child(2n+1){
						margin-left: 0;
					}
				}
			}

			.order-list{
				li{
					.left-side{
						width: 160px;
						height: auto;

						.thumbs{
							width: 150px;
							height: auto;
						}

						.price-menu{
							display: block;
						}
					}

					.right-side{
						width: percentage(588/768);
						margin-left: 20px;
						height: auto;
						float: left;

						.price-menu{
							display: none;
						}

						h3{
							margin-bottom: 10px;
						}

						.quantity, a.cancel{
							clear: both;
							margin-left: 0;
						}
					}

					.button-menu{
						display: block;

						.right-side{
							a.cancel, a.revise{
								display: block;
							}	
						}
					}

					.highlight-menu{
						.right-side{
							a.cancel, a.revise{
								display: none;
							}	
						}
					}

					.choice-list{
						margin-left: 0;

						li{
							width: 40%;
						}
					}
				}
			}

			.form-wp, .testimonial-form-wp, .contact-form-wp{
				.half-column{
					float: none;
					width: 100%;

					&:nth-child(1){
						width: 100%;
					}

					.payment-wp{
						.right-side{
							float: left;
							width: auto;
						}	
					}
					
				}
			}

			.contact-form-wp{
				background: url(../img/bg-bottom.jpg) repeat-x left top #F4F4F4;
			}

			.testimonial-list{
				li{
					.single-testimonial{
						padding: 2%;
						.left-side{
							width: 15%;
							
							img{
								width: 100%;
								height: auto;
							}
						}
						.right-side{
							width: 81%;
						}
					}
				}
			}

			.catering4{
				ul{
					li{
						width: percentage(250px/1000px);
						height: auto;

						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}

			.map{
				.map-img{
					width: 100%;
					float: none;

					img{
						width: 100%;
					}
				}

				.map-info{
					float: none;
					width: 100%;

					.location{
						width: 50%;
						float: left;
					}

					.email{
						width: 50%;
						float: right;
					}

					span{
						display: block;
					}
				}
			}
		}
	}
}





.highlight-menu	{
	.right-side	{
	} /* .right-side */
} /* highlight-menu */


#footer	{
	.container	{
		padding: 0px 20px;
	}
	.footer-text	{
		padding-top: 40px;
		float: left;
	} /* .footer-text */
	.bvpm	{
		margin-top: 40px;
		float: right;
		height: 74px;
		color: #444444;
		span	{
			display: block;
			text-align: right;
			font-size: 40px;
			padding-top: 15px;
		} /* span */
	} /* .bvpm */
	.address	{
		ul	{
			margin: 10px 0px 0px 0px;
			display: block;
			text-align: left;
			li	{
				display: inline-block;
				list-style: none;
				padding: 0px;
				margin: 0px;
			} /* li */
		} /* ul */
	} /* address */
	.social-media	{
		ul	{
			margin: 10px 0px 0px 0px;
			display: block;
			text-align: left;
			li	{
				display: inline-block;
				list-style: none;
				padding: 0px;
				margin: 0px;
				a	{
					display: block;
					color: #4444;
					margin-right: 10px;
					font-weight: normal;
					i.social-icn	{
						width: 18px;
						height: 18px;
						background-color: black;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						background: transparent url('../img/social-icn.png') no-repeat;
						&.fb	{
							background-position: -18px 0px;
						} /* &.fb */
						&.tw	{
							background-position: 0px 0px;
						} /* &.tw */
						&.pi	{
							background-position: -36px 0px;
						} /* &.pi */			
					} /* i.social-icn */
				} /* a */
			} /* li */
		} /* ul */		
	} /* .social-media */
	#copyright	{
		.container	{
			padding-top: 13px;
			height: auto !important;
			color: white;
			padding-left: 20px;
			padding-right: 20px;
		} /* container */
		background-color: #2565C7;
		height: 40px;
	} /* #copyright */
} /* #footer */